<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin
   id="org.eclipse.jst.ws.creation.ui"
   version="1.0.0"
   name="%PLUGIN_NAME"
   provider-name="%PLUGIN_PROVIDER"
   class="org.eclipse.jst.ws.internal.creation.ui.plugin.WebServiceCreationUIPlugin">

   <runtime>
      <library name="wss-ui.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.wst.command.env"/>
      <import plugin="org.eclipse.wst.command.env.ui"/>
      <import plugin="org.eclipse.wst.command.env.core"/>
      <import plugin="org.eclipse.wst.wsdl"/>
      <import plugin="org.eclipse.wst.ws"/>
      <import plugin="org.eclipse.wst.ws.explorer"/>
      <import plugin="org.eclipse.jst.ws"/>
      <import plugin="org.eclipse.jst.ws.consumption"/>
      <import plugin="org.eclipse.jst.ws.ui"/>
      <import plugin="org.eclipse.jst.ws.consumption.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.emf.common"/>
      <import plugin="org.eclipse.jem.util"/>
      <import plugin="org.eclipse.jem.workbench"/>
      <import plugin="org.eclipse.wst.server.core"/>
      <import plugin="org.eclipse.wst.common.emfworkbench.integration"/>
      <import plugin="org.eclipse.jst.j2ee"/>
      <import plugin="org.eclipse.jst.j2ee.core"/>
      <import plugin="org.eclipse.jst.j2ee.ejb"/>
      <import plugin="org.wsdl4j"/>
   </requires>

   <!-- Wizards -->

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%PLUGIN_NEW_CATEGORY_NAME_WS"
            id="org.eclipse.jst.ws.ui.new">
      </category>
      <wizard
            name="%PLUGIN_NEW_WIZARD_NAME_WS_SERVICE"
            icon="icons/full/ctool16/new_webserv_wiz.gif"
            category="org.eclipse.jst.ws.ui.new"
            class="org.eclipse.wst.command.internal.env.ui.widgets.DynamicWizard"
            id="org.eclipse.jst.ws.creation.ui.wizard.serverwizard">
         <description>
            %PLUGIN_NEW_WIZARD_DESC_WS_SERVICE
         </description>
      </wizard>
   </extension>

   <extension
         point="org.eclipse.wst.command.env.dynamicWizard">
      <dynamicWizard
            iconbanner="icons/full/wizban/webservices_wiz.gif"
            title="%WIZARD_TITLE_WSS"
            class="org.eclipse.jst.ws.internal.creation.ui.widgets.binding.ServerWidgetBinding"
            id="org.eclipse.jst.ws.creation.ui.wizard.serverwizard">
      </dynamicWizard>
   </extension>

   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            name="%PLUGIN_EXPORT_WIZARD_NAME_WS"
            icon="icons/export_ws.gif"
            class="org.eclipse.wst.command.internal.env.ui.widgets.DynamicWizard"
            id="wsexport">
         <description>
            %PLUGIN_EXPORT_WIZARD_DESC_WS
         </description>
      </wizard>
   </extension>

   <extension
         point="org.eclipse.wst.command.env.dynamicWizard">
      <dynamicWizard
            iconbanner="icons/export_ws_wiz.gif"
            name="%PLUGIN_EXPORT_WIZARD_NAME_WS"
            class="org.eclipse.jst.ws.internal.creation.ui.widgets.binding.ExportWSWidgetBinding"
            id="wsexport">
      </dynamicWizard>
   </extension>

   <extension
         point="org.eclipse.wst.command.env.dynamicWizard">
      <dynamicWizard
            iconbanner="icons/export_ws_wiz.gif"
            name="%PLUGIN_EXPORT_WIZARD_NAME_WS"
            class="org.eclipse.jst.ws.internal.creation.ui.widgets.binding.ExportWSWidgetBinding"
            id="org.eclipse.jst.ws.creation.ui.wizard.publish">
      </dynamicWizard>
   </extension>

   <!-- "Don't Show Me" Preferences -->

   <extension
         point="org.eclipse.wst.command.env.actionDialogPreferenceType">

      <actionDialogPreferenceType
            name="%CHECKBOX_SHOW_DEPLOY_WEB_SERVICE_DIALOG"
            tooltip="%TOOLTIP_PPAD_CHECKBOX_DEPLOY"
            infopop="org.eclipse.jst.ws.creation.ui.PPAD0006"
            category="org.eclipse.jst.wss.popup.category"
            id="org.eclipse.jst.ws.creation.ui.wizard.serverwizard.java">
      </actionDialogPreferenceType>

      <actionDialogPreferenceType
            name="%CHECKBOX_SHOW_GENERATE_SKELETON_DIALOG"
            tooltip="%TOOLTIP_PPAD_CHECKBOX_SKELETON"
            infopop="org.eclipse.jst.ws.creation.ui.PPAD0008"
            category="org.eclipse.jst.wss.popup.category"
            id="org.eclipse.jst.ws.creation.ui.wizard.serverwizard.skeleton">
      </actionDialogPreferenceType>

      <actionDialogPreferenceType
            name="%CHECKBOX_SHOW_PUBLISH_WSDL_DIALOG"
            tooltip="%TOOLTIP_PPAD_CHECKBOX_PUBLISH"
            infopop="org.eclipse.jst.ws.creation.ui.PPAD0009"
            category="org.eclipse.jst.wss.popup.category"
            id="org.eclipse.jst.ws.creation.ui.wizard.publish">
      </actionDialogPreferenceType>

   </extension>

   <!-- Popups -->
   
   <extension
         point="org.eclipse.ui.popupMenus">

      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.java"
            id="org.eclipse.jst.ws.creation.ui.wizard.serverwizard.java">
         <action
               label="%ACTION_DEPLOY_WEBSERVICE"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="org.eclipse.jst.ws.atk.ui.webservice.category.popupMenu/popupActions"
               id="org.eclipse.jst.ws.creation.ui.wizard.serverwizard">
         </action>
      </objectContribution>

      <objectContribution
            objectClass="org.eclipse.jdt.internal.core.CompilationUnit"
            nameFilter="*.java"
            id="org.eclipse.jst.ws.creation.ui.wizard.serverwizard.java">
         <action
               label="%ACTION_DEPLOY_WEBSERVICE"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="org.eclipse.jst.ws.atk.ui.webservice.category.popupMenu/popupActions"
               id="org.eclipse.jst.ws.creation.ui.wizard.serverwizard">
         </action>
      </objectContribution>

      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.wsdl"
            id="org.eclipse.jst.ws.creation.ui.wizard.serverwizard.skeleton">
         <action
               label="%ACTION_GENERATE_JAVA_SKELETON"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="org.eclipse.jst.ws.atk.ui.webservice.category.popupMenu/popupActions"
               id="org.eclipse.jst.ws.creation.ui.wizard.serverwizard">
         </action>
      </objectContribution>

      <objectContribution
            objectClass="org.eclipse.wst.wsdl.Service"
            nameFilter="*"
            id="org.eclipse.jst.ws.creation.ui.wizard.serverwizard.skeleton">
         <action
               label="%ACTION_GENERATE_JAVA_SKELETON"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="additions"
               id="org.eclipse.jst.ws.creation.ui.wizard.serverwizard">
         </action>
      </objectContribution>

      <objectContribution
            objectClass="org.eclipse.wst.wsdl.util.WSDLResourceImpl"
            nameFilter="*"
            id="org.eclipse.jst.ws.creation.ui.wizard.serverwizard.skeleton">
         <action
               label="%ACTION_GENERATE_JAVA_SKELETON"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="additions"
               id="org.eclipse.jst.ws.creation.ui.wizard.serverwizard">
         </action>
      </objectContribution>

      <objectContribution
            objectClass="org.eclipse.jst.j2ee.webservice.wsclient.ServiceRef"
            nameFilter="*"
            id="org.eclipse.jst.ws.creation.ui.wizard.serverwizard.skeleton">
         <action
               label="%ACTION_GENERATE_JAVA_SKELETON"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="additions"
               id="org.eclipse.jst.ws.creation.ui.wizard.serverwizard">
         </action>
      </objectContribution>

      <objectContribution
            objectClass="org.eclipse.jst.j2ee.webservice.wsdd.ServiceImplBean"
            nameFilter="*"
            id="org.eclipse.jst.ws.creation.ui.wizard.serverwizard.java">
         <action
               label="%ACTION_DEPLOY_WEBSERVICE"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="additions"
               id="org.eclipse.jst.ws.creation.ui.wizard.serverwizard">
         </action>
      </objectContribution>
      
      <objectContribution
            objectClass="org.eclipse.jst.j2ee.webservice.wsdd.BeanLink"
            nameFilter="*"
            id="org.eclipse.jst.ws.creation.ui.wizard.serverwizard.java">
         <action
               label="%ACTION_DEPLOY_WEBSERVICE"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="additions"
               id="org.eclipse.jst.ws.creation.ui.wizard.serverwizard">
         </action>
      </objectContribution>       
      
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.wsil"
            id="org.eclipse.jst.ws.creation.ui.wizard.serverwizard.skeleton">
         <action
               label="%ACTION_GENERATE_JAVA_SKELETON"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="org.eclipse.jst.ws.atk.ui.webservice.category.popupMenu/popupActions"
               id="org.eclipse.jst.ws.creation.ui.wizard.serverwizard">
         </action>
      </objectContribution>

      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.wsdl"
            id="org.eclipse.jst.ws.creation.ui.wizard.publish">
         <action
               label="%ACTION_PUBLISH_WSDL"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="org.eclipse.jst.ws.atk.ui.webservice.category.popupMenu/popupActions"
               id="org.eclipse.jst.ws.creation.ui.wizard.publish">
         </action>
      </objectContribution>

   </extension>
   
   <!-- Preference Pages -->

   <extension point="org.eclipse.ui.preferencePages">
      <page
            name="%PREFERENCE_CATEGORY_SCENARIO_DEFAULTS"
            category="org.eclipse.wst.ws.internal.ui.preferences.name"
            class="org.eclipse.jst.ws.internal.creation.ui.preferences.ScenarioDefaultsPreferencePage"
            id="org.eclipse.jst.ws.internal.creation.ui.preferences.ScenarioDefaultsPreferencePage">
      </page>
   </extension>

</plugin>
