<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin
   id="org.eclipse.jst.ws.axis.creation.ui"
   version="1.0.0"
   name="%PLUGIN_NAME"
   provider-name="%PLUGIN_PROVIDER"
   class="org.eclipse.jst.ws.internal.axis.creation.ui.plugin.WebServiceAxisCreationUIPlugin">

   <runtime>
      <library name="wss-axis-ui.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.emf.common"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="org.eclipse.jem"/>
      <import plugin="org.eclipse.jem.workbench"/>
      <import plugin="org.eclipse.wst.ws.parser"/>
      <import plugin="org.eclipse.jst.ws"/>
      <import plugin="org.eclipse.jst.ws.creation.ui"/>
      <import plugin="org.eclipse.jst.ws.consumption.ui"/>
      <import plugin="org.eclipse.jst.ws.consumption"/>
      <import plugin="org.eclipse.jst.ws.ui"/>
      <import plugin="org.eclipse.jst.ws.axis.consumption.core"/>
      <import plugin="org.eclipse.jst.ws.axis.consumption.ui"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.jem.workbench"/>
      <import plugin="org.eclipse.wst.command.env.core"/>
      <import plugin="org.eclipse.wst.command.env"/>
      <import plugin="org.eclipse.wst.command.env.ui"/>
      <import plugin="org.eclipse.wst.server.core"/>
      <import plugin="org.eclipse.wst.ws"/>
      <import plugin="org.eclipse.wst.wsdl"/>
      <import plugin="org.eclipse.jst.j2ee"/>
      <import plugin="org.eclipse.jst.j2ee.core"/>
      <import plugin="org.eclipse.jst.j2ee.ejb"/>
      <import plugin="org.eclipse.jst.j2ee.web"/>
      <import plugin="org.eclipse.wst.common.emf"/>
      <import plugin="org.eclipse.wst.common.emfworkbench.integration"/>
      <import plugin="org.eclipse.wst.common.frameworks"/>
   </requires>

   <!-- Web Service Server Types -->

   <extension
         point="org.eclipse.jst.ws.consumption.ui.webServiceServerRuntimeType">

      <webServiceRuntime
            label="%LABEL_RUNTIME_AXIS_11"
            description="%DESC_RUNTIME_AXIS_11"
            isDefault="false"
            j2eeversion="13 14"
            id="org.eclipse.jst.ws.runtime.axis11">
      </webServiceRuntime>

      <webServiceServer
            factoryId="org.eclipse.jst.server.tomcat.32"
            isDefault="false"
            runtimeTypeIds="org.eclipse.jst.server.tomcat.32.runtime"
            id="SERVER_ID_TOMCAT32_LOCAL">
      </webServiceServer>

      <webServiceServer
            factoryId="org.eclipse.jst.server.tomcat.40"
            isDefault="false"
            runtimeTypeIds="org.eclipse.jst.server.tomcat.40.runtime"
            id="SERVER_ID_TOMCAT40_LOCAL">
      </webServiceServer>

      <webServiceServer
            factoryId="org.eclipse.jst.server.tomcat.41"
            isDefault="false"
            runtimeTypeIds="org.eclipse.jst.server.tomcat.41.runtime"
            id="SERVER_ID_TOMCAT41_LOCAL">
      </webServiceServer> 

      <webServiceServer
            factoryId="org.eclipse.jst.server.tomcat.50"
            isDefault="false"
            runtimeTypeIds="org.eclipse.jst.server.tomcat.50.runtime"
            id="SERVER_ID_TOMCAT50_LOCAL">  
      </webServiceServer>    

      <webServiceServerRuntimeType
            requireEJBModule="false"
            requireWebModule="true"
            name="%WS_NAME_BEANAXIS"
            type="org.eclipse.jst.ws.type.java"
            runtime="org.eclipse.jst.ws.runtime.axis11"
            assemblyBinding="org.eclipse.jst.ws.internal.axis.creation.ui.wizard.beans.WSBeanAxisType"
            server="SERVER_ID_TOMCAT50_LOCAL"
            id="org.eclipse.jst.ws.internal.axis.creation.ui.wizard.beans.WSBeanAxisType.TOMCAT50LOCAL">
      </webServiceServerRuntimeType>

      <webServiceServerRuntimeType
            requireEJBModule="false"
            requireWebModule="true"
            name="%WS_NAME_WSDLAXIS"
            type="org.eclipse.jst.ws.type.wsdl"
            runtime="org.eclipse.jst.ws.runtime.axis11"
            assemblyBinding="org.eclipse.jst.ws.internal.axis.creation.ui.wizard.wsdl.WSWSDLAxisType"
            server="SERVER_ID_TOMCAT50_LOCAL"
            id="org.eclipse.jst.ws.internal.axis.creation.ui.wizard.wsdl.WSWSDLAxisType.TOMCAT50LOCAL">
      </webServiceServerRuntimeType>

      <webServiceServerRuntimeType
            requireEJBModule="false"
            requireWebModule="true"
            name="%WS_NAME_BEANAXIS"
            type="org.eclipse.jst.ws.type.java"
            runtime="org.eclipse.jst.ws.runtime.axis11"
            assemblyBinding="org.eclipse.jst.ws.internal.axis.creation.ui.wizard.beans.WSBeanAxisType"
            server="SERVER_ID_TOMCAT41_LOCAL"
            id="org.eclipse.jst.ws.internal.axis.creation.ui.wizard.beans.WSBeanAxisType.TOMCAT41LOCAL">
      </webServiceServerRuntimeType>

      <webServiceServerRuntimeType
            requireEJBModule="false"
            requireWebModule="true"
            name="%WS_NAME_WSDLAXIS"
            type="org.eclipse.jst.ws.type.wsdl"
            runtime="org.eclipse.jst.ws.runtime.axis11"
            assemblyBinding="org.eclipse.jst.ws.internal.axis.creation.ui.wizard.wsdl.WSWSDLAxisType"
            server="SERVER_ID_TOMCAT41_LOCAL"
            id="org.eclipse.jst.ws.internal.axis.creation.ui.wizard.wsdl.WSWSDLAxisType.TOMCAT41LOCAL">
      </webServiceServerRuntimeType>

      <webServiceServerRuntimeType
            requireEJBModule="false"
            requireWebModule="true"
            name="%WS_NAME_BEANAXIS"
            type="org.eclipse.jst.ws.type.java"
            runtime="org.eclipse.jst.ws.runtime.axis11"
            assemblyBinding="org.eclipse.jst.ws.internal.axis.creation.ui.wizard.beans.WSBeanAxisType"
            server="SERVER_ID_TOMCAT40_LOCAL"
            id="org.eclipse.jst.ws.internal.axis.creation.ui.wizard.beans.WSBeanAxisType.TOMCAT40LOCAL">
      </webServiceServerRuntimeType>

      <webServiceServerRuntimeType
            requireEJBModule="false"
            requireWebModule="true"
            name="%WS_NAME_WSDLAXIS"
            type="org.eclipse.jst.ws.type.wsdl"
            runtime="org.eclipse.jst.ws.runtime.axis11"
            assemblyBinding="org.eclipse.jst.ws.internal.axis.creation.ui.wizard.wsdl.WSWSDLAxisType"
            server="SERVER_ID_TOMCAT40_LOCAL"
            id="org.eclipse.jst.ws.internal.axis.creation.ui.wizard.wsdl.WSWSDLAxisType.TOMCAT40LOCAL">
      </webServiceServerRuntimeType>

   </extension>

   <!-- Server Defaulters -->
   
   <extension point="org.eclipse.jst.ws.consumption.serverDefaulter">
      <serverDefaulter
         class="org.eclipse.jst.ws.internal.axis.creation.ui.command.AxisServerDefaulter">
      </serverDefaulter>
   </extension>
   
   <extension point="org.eclipse.jst.ws.consumption.ui.webServiceRuntime">
  <webServiceRuntime
    id="org.eclipse.jst.ws.axis.creation.axisWebServiceRT"
    label="%LABEL_RUNTIME_AXIS_11"
    serviceTypes="org.eclipse.jst.ws.serviceType.java org.eclipse.jst.ws.serviceType.wsdl"
    clientTypes="org.eclipse.jst.ws.clientType.java.webOnly"
    servletLevels="23 24"
    j2eeLevels="13 14"
    servers="org.eclipse.jst.server.tomcat.40 org.eclipse.jst.server.tomcat.41 org.eclipse.jst.server.tomcat.50"
    class="org.eclipse.jst.ws.internal.axis.creation.wsrt.AxisWebServiceRuntime">
  </webServiceRuntime>
</extension> 

</plugin>