<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

     <!-- Web Service Server Types -->

   <extension
         point="org.eclipse.jst.ws.consumption.ui.webServiceServerRuntimeType">

      <webServiceRuntime
            label="%LABEL_RUNTIME_AXIS_11"
            description="%DESC_RUNTIME_AXIS_11"
            isDefault="false"
            j2eeversion="13 14"
            id="org.eclipse.jst.ws.runtime.axis11">
      </webServiceRuntime>

      <webServiceServer
            factoryId="org.eclipse.jst.server.tomcat.32"
            isDefault="false"
            runtimeTypeIds="org.eclipse.jst.server.tomcat.32.runtime"
            id="SERVER_ID_TOMCAT32_LOCAL">
      </webServiceServer>

      <webServiceServer
            factoryId="org.eclipse.jst.server.tomcat.40"
            isDefault="false"
            runtimeTypeIds="org.eclipse.jst.server.tomcat.40.runtime"
            id="SERVER_ID_TOMCAT40_LOCAL">
      </webServiceServer>

      <webServiceServer
            factoryId="org.eclipse.jst.server.tomcat.41"
            isDefault="false"
            runtimeTypeIds="org.eclipse.jst.server.tomcat.41.runtime"
            id="SERVER_ID_TOMCAT41_LOCAL">
      </webServiceServer> 

      <webServiceServer
            factoryId="org.eclipse.jst.server.tomcat.50"
            isDefault="false"
            runtimeTypeIds="org.eclipse.jst.server.tomcat.50.runtime"
            id="SERVER_ID_TOMCAT50_LOCAL">  
      </webServiceServer>    

      <webServiceServerRuntimeType
            requireEJBModule="false"
            requireWebModule="true"
            name="%WS_NAME_BEANAXIS"
            type="org.eclipse.jst.ws.type.java"
            runtime="org.eclipse.jst.ws.runtime.axis11"
            assemblyBinding="org.eclipse.jst.ws.internal.axis.creation.ui.wizard.beans.WSBeanAxisType"
            server="SERVER_ID_TOMCAT50_LOCAL"
            id="org.eclipse.jst.ws.internal.axis.creation.ui.wizard.beans.WSBeanAxisType.TOMCAT50LOCAL">
      </webServiceServerRuntimeType>

      <webServiceServerRuntimeType
            requireEJBModule="false"
            requireWebModule="true"
            name="%WS_NAME_WSDLAXIS"
            type="org.eclipse.jst.ws.type.wsdl"
            runtime="org.eclipse.jst.ws.runtime.axis11"
            assemblyBinding="org.eclipse.jst.ws.internal.axis.creation.ui.wizard.wsdl.WSWSDLAxisType"
            server="SERVER_ID_TOMCAT50_LOCAL"
            id="org.eclipse.jst.ws.internal.axis.creation.ui.wizard.wsdl.WSWSDLAxisType.TOMCAT50LOCAL">
      </webServiceServerRuntimeType>

      <webServiceServerRuntimeType
            requireEJBModule="false"
            requireWebModule="true"
            name="%WS_NAME_BEANAXIS"
            type="org.eclipse.jst.ws.type.java"
            runtime="org.eclipse.jst.ws.runtime.axis11"
            assemblyBinding="org.eclipse.jst.ws.internal.axis.creation.ui.wizard.beans.WSBeanAxisType"
            server="SERVER_ID_TOMCAT41_LOCAL"
            id="org.eclipse.jst.ws.internal.axis.creation.ui.wizard.beans.WSBeanAxisType.TOMCAT41LOCAL">
      </webServiceServerRuntimeType>

      <webServiceServerRuntimeType
            requireEJBModule="false"
            requireWebModule="true"
            name="%WS_NAME_WSDLAXIS"
            type="org.eclipse.jst.ws.type.wsdl"
            runtime="org.eclipse.jst.ws.runtime.axis11"
            assemblyBinding="org.eclipse.jst.ws.internal.axis.creation.ui.wizard.wsdl.WSWSDLAxisType"
            server="SERVER_ID_TOMCAT41_LOCAL"
            id="org.eclipse.jst.ws.internal.axis.creation.ui.wizard.wsdl.WSWSDLAxisType.TOMCAT41LOCAL">
      </webServiceServerRuntimeType>

      <webServiceServerRuntimeType
            requireEJBModule="false"
            requireWebModule="true"
            name="%WS_NAME_BEANAXIS"
            type="org.eclipse.jst.ws.type.java"
            runtime="org.eclipse.jst.ws.runtime.axis11"
            assemblyBinding="org.eclipse.jst.ws.internal.axis.creation.ui.wizard.beans.WSBeanAxisType"
            server="SERVER_ID_TOMCAT40_LOCAL"
            id="org.eclipse.jst.ws.internal.axis.creation.ui.wizard.beans.WSBeanAxisType.TOMCAT40LOCAL">
      </webServiceServerRuntimeType>

      <webServiceServerRuntimeType
            requireEJBModule="false"
            requireWebModule="true"
            name="%WS_NAME_WSDLAXIS"
            type="org.eclipse.jst.ws.type.wsdl"
            runtime="org.eclipse.jst.ws.runtime.axis11"
            assemblyBinding="org.eclipse.jst.ws.internal.axis.creation.ui.wizard.wsdl.WSWSDLAxisType"
            server="SERVER_ID_TOMCAT40_LOCAL"
            id="org.eclipse.jst.ws.internal.axis.creation.ui.wizard.wsdl.WSWSDLAxisType.TOMCAT40LOCAL">
      </webServiceServerRuntimeType>

   </extension>

   <!-- Server Defaulters -->
   
   <extension point="org.eclipse.jst.ws.consumption.serverDefaulter">
      <serverDefaulter
         class="org.eclipse.jst.ws.internal.axis.creation.ui.command.AxisServerDefaulter">
      </serverDefaulter>
   </extension>
   
   <extension point="org.eclipse.jst.ws.consumption.ui.webServiceRuntime">
  	<webServiceRuntime
    id="org.eclipse.jst.ws.axis.creation.axisWebServiceRT"
    label="%LABEL_RUNTIME_AXIS_11"
    serviceTypes="org.eclipse.jst.ws.serviceType.java"
    clientTypes="org.eclipse.jst.ws.clientType.java.webOnly"
    servletLevels="23 24"
    j2eeLevels="13 14"
    servers="org.eclipse.jst.server.tomcat.40 org.eclipse.jst.server.tomcat.41 org.eclipse.jst.server.tomcat.50 org.eclipse.jst.server.tomcat.55 org.eclipse.jst.server.geronimo.10"
    class="org.eclipse.jst.ws.internal.axis.creation.ui.wsrt.AxisWebServiceRuntime">
  	</webServiceRuntime>
	</extension> 

	<extension point="org.eclipse.wst.command.env.ui.widgetRegistry">
       <widgetFactory   
             id="AxisBeanConfig"
             insertBeforeCommandId="org.eclipse.jst.ws.internal.axis.creation.ui.task.BUCheckAxisDeploymentDescriptors"
             class="org.eclipse.jst.ws.internal.axis.creation.ui.wsrt.AxisBeanConfigWidgetFactory"/>
    </extension> 
    
	<extension point="org.eclipse.wst.command.env.ui.widgetRegistry">
       <widgetFactory   
             id="AxisSkeletonConfig"
             insertBeforeCommandId="org.eclipse.jst.ws.internal.axis.creation.ui.task.TDCheckAxisDeploymentDescriptors"
             class="org.eclipse.jst.ws.internal.axis.creation.ui.wsrt.AxisSkeletonConfigWidgetFactory"/>
    </extension> 

</plugin>