<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin
   id="org.eclipse.wst.ws.explorer"
   version="1.0.0"
   name="%PLUGIN_NAME"
   provider-name="%PLUGIN_PROVIDER"
   class="org.eclipse.wst.ws.internal.explorer.plugin.ExplorerPlugin">

   <runtime>
      <library name="explorer.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.tomcat"/>
      <import plugin="org.eclipse.help.appserver"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.emf.common"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="org.eclipse.xsd"/>
      <import plugin="org.eclipse.wst.command.env"/>
      <import plugin="org.eclipse.wst.command.env.core"/>
      <import plugin="org.eclipse.wst.command.env.ui"/>
      <import plugin="org.eclipse.wst.internet.webbrowser"/>
      <import plugin="org.eclipse.wst.ws"/>
      <import plugin="org.eclipse.wst.ws.parser"/>
      <import plugin="org.eclipse.wst.wsdl"/>
      <import plugin="org.wsdl4j"/>
      <import plugin="org.apache.axis11"/>
      <import plugin="org.apache.wsil4j"/>
      <import plugin="org.uddi4j"/>
   </requires>


<!-- ================================================================= -->
<!-- Extension point: Eclipse Popup Action (org.eclipse.ui.popupMenus) -->
<!-- ================================================================= -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.wsdl"
            id="org.eclipse.jst.ws.internal.consumption.ui.action.WSDLFileMenu">
         <action
               label="%POPUP_TEST_WSDL"
               class="org.eclipse.wst.ws.internal.explorer.popup.PopupTestWSDL"
               menubarPath="org.eclipse.jst.ws.atk.ui.webservice.category.popupMenu/popupActions"
               id="org.eclipse.wst.ws.internal.explorer.popup.PopupTestWSDL">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.wst.wsdl.util.WSDLResourceImpl"
            nameFilter="*"
            id="org.eclipse.jst.ws.internal.consumption.ui.action.WSDLFileMenu">
         <action
               label="%POPUP_TEST_WSDL"
               class="org.eclipse.wst.ws.internal.explorer.popup.PopupTestWSDL"
               menubarPath="additions"
               id="org.eclipse.wst.ws.internal.explorer.popup.PopupTestWSDL">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.wst.wsdl.Service"
            nameFilter="*"
            id="org.eclipse.jst.ws.internal.consumption.ui.action.WSDLFileMenu">
         <action
               label="%POPUP_TEST_WSDL"
               class="org.eclipse.wst.ws.internal.explorer.popup.PopupTestWSDL"
               menubarPath="additions"
               id="org.eclipse.wst.ws.internal.explorer.popup.PopupTestWSDL">
         </action>
      </objectContribution>
<!-- TODO: Move this contribution to org.eclipse.jst.ws.ui
      <objectContribution
            objectClass="org.eclipse.jst.j2ee.webservice.wsclient.ServiceRef"
            nameFilter="*"
            id="org.eclipse.jst.ws.internal.consumption.ui.action.WSDLFileMenu">
         <action
               label="%POPUP_TEST_WSDL"
               class="org.eclipse.wst.ws.internal.explorer.popup.PopupTestWSDL"
               menubarPath="additions"
               id="org.eclipse.wst.ws.internal.explorer.popup.PopupTestWSDL">
         </action>
      </objectContribution>
-->
   </extension>

</plugin>
