<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="extvalidator" name="%_WSDL_EXTENSION_VALIDATOR_NAME" schema="exsd/extvalidator.exsd"/>
   
   <extension-point id="wsdl11validator" name="%WSDL11_VALIDATOR_NAME" schema="exsd/wsdl11validator.exsd"/>
   
	<extension
    	point="org.eclipse.wst.validation.validatorDelegates">
        <delegate
              class="org.eclipse.wst.wsdl.validation.internal.eclipse.Validator"
              name="%_UI_WSDL4J_VALIDATOR_DELEGATE"
              target="org.eclipse.wst.wsdl.validation.internal.eclipse.WSDLDelegatingValidator"/>
     </extension>	

   <!-- ====================================================== -->
   <!-- An extension for adding the WSDL validator to the      -->
   <!-- validation framework. 						           -->										   -->
   <!-- ====================================================== -->
   <!--
   <extension
         id="wsdlValidator"
         name="%_UI_WSDL_VALIDATOR"
         point="org.eclipse.wst.validation.validator">
      <validator>
         <filter
               objectClass="org.eclipse.core.resources.IFile"
               caseSensitive="false"
               nameFilter="*.wsdl">
         </filter>
         <helper
               class="org.eclipse.wst.xml.core.internal.validation.core.Helper">
         </helper>
         <run
               async="true"
               class="org.eclipse.wst.wsdl.validation.internal.eclipse.WSDLDelegatingValidator"
               enabled="true"
               fullBuild="true"
               incremental="true">
         </run>
         <markerId markerIdValue="org.eclipse.wst.wsdl.validation.validationMarker"/>
      </validator>
   </extension>
   -->
   
   <extension id="wsdl" name="%_UI_WSDL_VALIDATOR" point="org.eclipse.wst.validation.validatorV2">
      <validator
            build="true"
            class="org.eclipse.wst.wsdl.validation.internal.eclipse.WSDLDelegatingValidator"
            manual="true"
            sourceid="org.eclipse.wst.wsdl.ui.internal.validation.DelegatingSourceValidatorForWSDL"
            version="2">
         <include>
            <rules>
               <fileext caseSensitive="false" ext="wsdl"></fileext>
            </rules>
         </include>
      </validator>
   </extension>
   
   <extension
         id="validationMarker"
         name="%_UI_WSDL_VALIDATOR_MARKER"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.wst.validation.problemmarker"/>
      <persistent value="true"/>
   </extension>
</plugin>
