<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2009 by SAP AG, Walldorf. 
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        SAP AG - initial API and implementation
 -->

<plugin>

   <extension-point id="domruntimes" name="%DomRuntimesExtension_Name" schema="schema/runtimes.exsd"/>
    
   <extension point="org.eclipse.emf.ecore.generated_package">
   	<package 
       uri = "http:///org/eclipse/jst/ws/jaxws/dom/runtime/dom.ecore" 
       class = "org.eclipse.jst.ws.jaxws.dom.runtime.api.DomPackage" />
  	</extension>


   <extension
         id="org.eclipse.jst.ws.jaxws.dom.jee5" 
         name="%ExtensionPoint-Name.3"
         point="org.eclipse.jst.ws.jaxws.dom.runtime.domruntimes">
      <implementation class="org.eclipse.jst.ws.jaxws.dom.runtime.persistence.Jee5WsDomRuntimeExtension"/>
      <project_facet id="jst.ejb" version="3.0"/>
      <project_facet id="jst.web" version="2.5"/>
   </extension>
   
</plugin>
