<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin
   id = "org.eclipse.wst.command.env.core"
   version = "1.0.0"
   name = "%PLUGIN_NAME"
   provider-name = "%PLUGIN_PROVIDER">

   <runtime>
      <library name="runtime/envcore.jar">
         <export name="*"/>
      </library>
   </runtime>

</plugin>
