<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.eclipse.ui.views">
      <category
            name="%ANNOTATIONS_VIEW_CATEGORY_NAME"
            id="org.eclipse.jst.ws.jwst.ui">
      </category>
      <view
            name="%ANNOTATIONS_VIEW_NAME"
            icon="icons/eview16/prop_ps.gif"
            category="org.eclipse.jst.ws.jwst.ui"
            class="org.eclipse.jst.ws.internal.jaxws.ui.views.AnnotationsView"
            id="org.eclipse.jst.ws.jaxws.ui.views.AnnotationsView">
      </view>
   </extension>
   
 <!--  <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               relative="org.eclipse.ui.views.ProblemView"
               relationship="stack"
               id="org.eclipse.jst.ws.jaxws.ui.views.AnnotationsView">
         </view>
      </perspectiveExtension>
   </extension> -->

   <extension point="org.eclipse.jst.ws.annotations.core.annotationInitializer">
      <initializer
            annotation="javax.jws.WebService"
            class="org.eclipse.jst.ws.internal.jaxws.ui.annotations.initialization.WebServiceAttributeInitializer">
      </initializer>
      <initializer
            annotation="javax.jws.WebMethod"
            class="org.eclipse.jst.ws.internal.jaxws.ui.annotations.initialization.WebMethodAttributeInitializer">
      </initializer>
      <initializer
            annotation="javax.jws.WebParam"
            class="org.eclipse.jst.ws.internal.jaxws.ui.annotations.initialization.WebParamAttributeInitializer">
      </initializer>
      <initializer
            annotation="javax.jws.WebResult"
            class="org.eclipse.jst.ws.internal.jaxws.ui.annotations.initialization.WebResultAttributeInitializer">
      </initializer>
      <initializer
            annotation="javax.jws.soap.SOAPBinding"
            class="org.eclipse.jst.ws.internal.jaxws.ui.annotations.initialization.SOAPBindingAttributeInitializer">
      </initializer>      
      <initializer
            annotation="javax.xml.ws.RequestWrapper"
            class="org.eclipse.jst.ws.internal.jaxws.ui.annotations.initialization.RequestWrapperAttributeInitializer">
      </initializer>
      <initializer
            annotation="javax.xml.ws.ResponseWrapper"
            class="org.eclipse.jst.ws.internal.jaxws.ui.annotations.initialization.ResponseWrapperAttributeInitializer">
      </initializer>
      <initializer
            annotation="javax.xml.ws.BindingType"
            class="org.eclipse.jst.ws.internal.jaxws.ui.annotations.initialization.BindingTypeAttributeInitializer">
      </initializer>
   </extension>
  
   <extension id="jaxwsProposalComputer"
         name="JAX-WS Proposals"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <proposalCategory
            icon="icons/eview16/annotation_obj.gif">
      </proposalCategory>
   </extension>

   <extension id="JAXWSJavaCompletionProposalComputer"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.jst.ws.jaxws.ui.jaxwsProposalComputer"
            class="org.eclipse.jst.ws.internal.jaxws.ui.annotations.contentassist.AnnotationCompletionProposalComputer">
        <!-- <partition
               type="__dftl_partition_content_type">
         </partition> -->
         <partition
               type="__java_string">
         </partition>
      </javaCompletionProposalComputer>
   </extension>

   <extension point="org.eclipse.jdt.ui.quickFixProcessors">
      <quickFixProcessor
            class="org.eclipse.jst.ws.internal.jaxws.ui.annotations.correction.JAXWSQuickFixProcessor"
            id="org.eclipse.jst.ws.jaxws.ui.annotations.correction.JAXWSQuickFixProcessor">
         <handledMarkerTypes>
            <markerType id="org.eclipse.jdt.apt.core.compile.problem"/>
            <markerType id="org.eclipse.jdt.apt.core.nonreconcile.compile.problem"/>
         </handledMarkerTypes>
      </quickFixProcessor>
   </extension>

   <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            markerType="org.eclipse.jdt.apt.core.compile.problem"
            class="org.eclipse.jst.ws.internal.jaxws.ui.annotations.correction.APTCompileProblemMarkerResolutionGenerator">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            markerType="org.eclipse.jdt.apt.core.nonreconcile.compile.problem"
            class="org.eclipse.jst.ws.internal.jaxws.ui.annotations.correction.APTCompileProblemMarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>
   
   <extension point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.jst.ws.ui.new/org.eclipse.jst.ws.jaxws.ui.wizards.category"
            icon="$nl$/icons/etool16/newhandler_wiz.gif"
            id="org.eclipse.jst.ws.internal.jaxws.ui.wizards.NewJAXWSHandlerWizard"
            name="%NEW_JAXWS_HANDLER_LABEL">
         <class class="org.eclipse.jst.ws.internal.jaxws.ui.wizards.NewJAXWSHandlerWizard">
            <parameter name="javatype" value="true"/>
         </class>
         <description>
            %NEW_JAXWS_HANDLER__DESCRIPTION
         </description>
      </wizard>
      <category
            id="org.eclipse.jst.ws.jaxws.ui.wizards.category"
            name="%JAXWS_WIZARD_CATEGORY_NAME"
            parentCategory="org.eclipse.jst.ws.ui.new">
      </category>
   </extension>
   
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
            commandId="org.eclipse.jst.ws.jaxws.ui.configure.handlers"
            id="jaxws.configure.handlers"
            label="%CONFIGURE_HANDLERS_LABEL"
            style="push">
            <visibleWhen checkEnabled="true"/>
         </command>
      </menuContribution>
   </extension>
   
   <extension point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.jst.ws.jaxws.ui.configure.handlers"
            name="%CONFIGURE_HANDLERS_LABEL">
      </command>
   </extension>
   
   <extension point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.jst.ws.internal.jaxws.ui.handlers.ConfigureHandlerChainHandler"
            commandId="org.eclipse.jst.ws.jaxws.ui.configure.handlers">
         <activeWhen>
            <reference definitionId="org.eclipse.jst.ws.jaxws.webservice.selected"/>
         </activeWhen>
         <enabledWhen>
            <reference definitionId="org.eclipse.jst.ws.jaxws.webservice.selected"/>
         </enabledWhen>
      </handler>
   </extension>

   <extension point="org.eclipse.core.expressions.definitions">
      <definition id="org.eclipse.jst.ws.jaxws.webservice.selected">
         <with variable="selection">
            <and>
               <count value="1"/>
               <iterate operator="or">
                  <or>
                     <instanceof value="org.eclipse.jst.ws.jaxws.dom.runtime.api.IWebService"/>
                     <instanceof value="org.eclipse.jst.ws.jaxws.dom.runtime.api.IServiceEndpointInterface"/>
                  </or>
               </iterate>
            </and>
         </with>
      </definition>
   </extension>
   
</plugin>
