#contentborder { border-left:1px solid #848284; border-right:1px solid #848284; border-top:0px solid #848284; border-bottom:1px solid #848284; height:100%; width:100%; background:white; overflow:auto; padding-left:10px; padding-right:0; padding-top:10; padding-bottom:10}
#treecontentborder { border-left:1px solid #848284; border-right:1px solid #848284; border-top:0px solid #848284; border-bottom:1px solid #848284; height:100%; width:100%; background:white; overflow:auto; padding-top:5px}

/* iframe Spacing Contol */
.contentbodymargin { margin: 0 5 12 5; background:#ECE9D8; }

/* Document Styles  */
.labels { font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 12px; color:black; font-weight: normal;}

/* fieldset+legend Styles */
.keylinefieldset { border-color:#8080FF; border-width:1px; border-style:solid; }

/* table Styles */
.tableborder {border-left:0px solid #B8B4A3; border-right:1px solid #B8B4A3; border-top:1px solid #B8B4A3; border-bottom:0px solid #B8B4A3; }
.tablecells { border-left:1px solid #B8B4A3; border-right:0px solid #B8B4A3; border-top:0px solid #B8B4A3; border-bottom:1px solid #B8B4A3; font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 11px; text-align:left}
.checkboxcells { border-left:1px solid #B8B4A3; border-right:0px solid #B8B4A3; border-top:0px solid #B8B4A3; border-bottom:1px solid #B8B4A3; font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 11px; background-color: #ECE9D8}
th.headercolor { border-left:1px solid #B8B4A3; border-right:0px solid #B8B4A3; border-top:0px solid #B8B4A3; border-bottom:1px solid #B8B4A3; font-style: normal; font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 11px; background-color:#4977B4; color:#FFFFFF; text-align:center}
th.singleheadercolor { border-left:1px solid #B8B4A3; border-right:0px solid #B8B4A3; border-top:0px solid #B8B4A3; border-bottom:1px solid #B8B4A3; font-style: normal; font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 11px; background-color:#4977B4; color:#FFFFFF; text-align:left}
.firstcolumnerrantrowcolor { border-left:1px solid red; border-right:0px solid #B7B4A3; border-top:1px solid red; border-bottom:1px solid red; font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 11px; background-color:#E6EAD8; text-align:left}
.middleerrantrowcolor { border-left:1px solid #B7B4A3; border-right:0px solid #B7B4A3; border-top:1px solid red; border-bottom:1px solid red; font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 11px; background-color:#E6EAD8; text-align:left}
.lastcolumnerrantrowcolor { border-left:1px solid #B7B4A3; border-right:1px solid red; border-top:1px solid red; border-bottom:1px solid red; font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 11px; background-color:#E6EAD8; text-align:left}
.rowcolor { border-left:1px solid #B8B4A3; border-right:0px solid #B8B4A3; border-top:0px solid #B8B4A3; border-bottom:1px solid #B8B4A3; font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 11px; background-color:#E6EAD8; text-align:left}

/* Form elements and status contents */
td { font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 12px; }
th { font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 12px; }
input { font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 12px; }
.selectlist {font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 12px; color: Black; border-style:solid; border-width : 1px;  border-color:#C7C5B2;}
select { font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 12px; }
pre { font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 12px; }
.smtextenter {font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 14px; color: Black; border-style:solid; border-width : 1px; border-color: #C7C5B2; width:10%; }
.textenter {font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 14px; color: Black; border-style:solid; border-width : 1px; border-color: #C7C5B2; width:90%; }
.tabletextenter {font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 14px; color: Black; border-style:solid; border-width : 1px; border-color: #C7C5B2; width:100%; }
.tablefilebrowse {width:100%; border-style:solid; border-width:1px; font-size: 14px; border-color: #C7C5B2; font-family: Tahoma, Verdana, Arial, Helvetica; }
input.button {font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 11px; border-width : 1px; border-style:outset; height:22px;}
input.radio {font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 11px;}
img.twist {border-width:0 0 0 0px; height:10px; width:11px;}

/* Fragment Styles */
.fixfragtable {width:95%; border:0px none; }
.innerfixfragtable {width:100%; border:0px none; }
.rangefragtable {width:95%; border-left:0px solid #B8B4A3; border-right:1px solid #B8B4A3; border-top:1px solid #B8B4A3; border-bottom:0px solid #B8B4A3;}
.innerrangefragtable {width:100%; border-left:0px solid #B8B4A3; border-right:1px solid #B8B4A3; border-top:1px solid #B8B4A3; border-bottom:0px solid #B8B4A3;}
.textareaenter {font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 14px; color: Black; border-style:solid; border-width : 1px; border-color: #C7C5B2; width:100%; height:150px; }
.bigtextareaenter {font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 14px; color: Black; border-style:solid; border-width : 1px; border-color: #C7C5B2; width:100%; height:300px; }
