<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.wst.wsdl.tests.ui"
   name="WSDL Model UI Samples"
   version="1.0.0">

   <runtime>
      <library name="wsdl.tests.ui.jar"/>
   </runtime>
   
   <requires>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.wst.wsdl"/>
      <import plugin="org.eclipse.wst.wsdl.tests"/>
      <import plugin="org.eclipse.xsd"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.junit"/>
   </requires>
   
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
          objectClass="org.eclipse.core.resources.IFile"
          nameFilter="*.wsdl"
          id="org.eclipse.wst.wsdl.tests.ui.object_contribution">
         <!--
         <action
             label="Generate WSDL Sample"
             class="org.eclipse.wst.wsdl.tests.ui.GenerateWSDLActionDelegate"
             enablesFor="1"
             id="org.eclipse.wst.wsdl.tests.ui.generate_wsdl_action">
         </action>
         -->
         <action
             label="Convert to WSDL 2.0 Document"
             class="org.eclipse.wst.wsdl.tests.ui.ConvertWSDL20ActionDelegate"
             enablesFor="1"
             id="org.eclipse.wst.wsdl.tests.ui.convert_wsdl_action">
         </action>
         
      </objectContribution>
   </extension>
   
</plugin>
