<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin
   id="org.eclipse.wst.ws"
   version="1.0.0"
   name="%PLUGIN_NAME"
   provider-name="%PLUGIN_PROVIDER"
   class="org.eclipse.wst.ws.WSPlugin">

   <runtime>
      <library name="ws.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.wst.internet.monitor.core"/>
      <import plugin="org.eclipse.wst.server.core"/>
      <import plugin="org.eclipse.wst.command.env.core"/>
      <import plugin="org.eclipse.wst.wsdl"/>
      <import plugin="org.eclipse.wst.ws.parser"/>
      <import plugin="org.eclipse.wst.ws.apache.wsil"/>
      <import plugin="org.eclipse.wst.command.env"/>
      <import plugin="org.eclipse.emf.common"/>
   </requires>

</plugin>
