<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <!-- The following extension point is internal, though likely to be promoted for public use, possibly with changes, in a future release. -->
   <extension-point id="locator" name="%XP_WEB_SERVICE_LOCATOR" schema="schema/webServiceLocator.exsd"/>

   <!-- Extension providing workspace WSDL discovery -->   
   <extension
         point="org.eclipse.wst.ws.locator">

      <webServiceLocatorCategory
            id="org.eclipse.wst.ws.internal.wsfinder.category.workspace"
            label="%X_WEB_SERVICE_LOCATOR_CATEGORY_WORKSPACE"/>

      <webServiceLocator
            class="org.eclipse.wst.ws.internal.wsfinder.WorkspaceWSDLLocator"
            id="org.eclipse.wst.ws.internal.wsfinder.WorkspaceWSDLLocator"
            category="org.eclipse.wst.ws.internal.wsfinder.category.workspace"
            label="%X_WEB_SERVICE_LOCATOR_WORKSPACE">
      </webServiceLocator>

   </extension>
   
   <!-- Extension to bind a file type to WSIL files -->
   <extension point="org.eclipse.team.core.fileTypes">
      <fileTypes
            type="text"
            extension="wsil"/>
   </extension>

   <!-- Extension to define a content type for WSIL files -->
   <extension point="org.eclipse.core.runtime.contentTypes">
      <content-type
            priority="high"
            name="%X_WSIL_CONTENT_TYPE"
            id="wsilsource"
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="wsil"/>
   </extension>
   
   <extension point="org.eclipse.wst.ws.service.policy.servicepolicy">
     <servicePolicy>
         <loadListener class="org.eclipse.wst.ws.internal.preferences.MigrateWSIpreferencesLoadListener"/>
     </servicePolicy>
   </extension> 
   
  <extension point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
      id="org.eclipse.wst.ws.service.ws.service.policy"
      type="org.eclipse.core.resources.IProject"
      namespace="org.eclipse.wst.ws.service.ws.service.policy"
      properties="projectHasWSDLfiles"
      class="org.eclipse.wst.ws.internal.preferences.WSDLFilePropertyTester">
    </propertyTester>
  </extension>
   
</plugin>
