<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.help.toc">
      <toc file="topics_api_reference.xml"/>
      <toc file="topics_extension_points_reference.xml"/>
   </extension>

   <extension point="org.eclipse.pde.core.javadoc">
       <javadoc path="reference/api">
           <plugin id="org.eclipse.jst.ws.annotations.core"/>
           <plugin id="org.eclipse.jst.ws.jaxws.core"/>
       </javadoc>
   </extension>
</plugin>
