<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   
	<extension point="org.eclipse.wst.command.env.ui.widgetRegistry">
       <widgetFactory   
             id="AxisClientConfig"
             insertBeforeCommandId="org.eclipse.jst.ws.internal.axis.consumption.ui.task.DefaultsForHTTPBasicAuthCommand"
             class="org.eclipse.jst.ws.internal.axis.consumption.ui.wsrt.AxisClientConfigWidgetFactory"/>
    </extension> 
          <extension
           point="org.eclipse.wst.command.env.antDataMapping">
        <map
              key="ClientProjectName"
              operation="org.eclipse.jst.ws.internal.axis.consumption.ui.command.AxisClientDefaultingCommand"
              property="ClientProject"
              transform="org.eclipse.jst.ws.internal.common.StringToIProjectTransformer"/>
        <map
              key="CustomizeClientMappings"
              operation="org.eclipse.jst.ws.internal.axis.consumption.ui.command.AxisClientDefaultingCommand"
              property="CustomizeClientMappings"
              transform="org.eclipse.wst.command.internal.env.ant.String2BooleanTransformer"/>                                 
 		<map
              key="Mappings"
              operation="org.eclipse.jst.ws.internal.axis.consumption.ui.task.ClientCodeGenOperation"
              property="JavaWSDLParam"
              transform="org.eclipse.jst.ws.internal.axis.consumption.core.common.JavaWSDLParamModifier"/>
  </extension> 
     <extension
            point="org.eclipse.ui.preferencePages">     
      <page
            name="%PREFERENCE_CATEGORY_AXIS_EMITTER"
            category="org.eclipse.wst.ws.internal.ui.preferences.name"
            class="org.eclipse.jst.ws.internal.axis.consumption.ui.preferences.AxisEmitterPreferencePage"
            id="org.eclipse.jst.ws.internal.axis.consumption.ui.preferences.AxisEmitterPreferencePage">
      </page>

   </extension>
</plugin>