<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.eclipse.wst.ws.service.policy.servicepolicy">
     <servicePolicy>
       <policy parentPolicyId="someparent" id="id1" enumListId="org.eclipse.wst.service.policy.errorWarnEnum">
         <descriptor shortName="id1 shortName" description="id1 description"/>
         <relationship enumList="org.eclipse.wst.warn">
           <policy id="id2"
                   itemList="org.eclipse.wst.warn org.eclipse.wst.error"/>
           <policy id="id3"
                   itemList="org.eclipse.wst.warn"/>
           <policy id="id4"
                   itemList="org.eclipse.wst.error"/>
         </relationship>
         
         <relationship enumList="org.eclipse.wst.service.policy.errorWarnEnum.ignore">
           <policy id="id3"
                   itemList="org.eclipse.wst.warn org.eclipse.wst.error"/>
         </relationship>
       </policy>
       
       <policy id="someparent">
         <descriptor longName="parent longname" iconPath="a/b/c" />
       </policy>
       
       <policy id="id2" parentPolicyId="someparent">
         <descriptor shortName="id2 shortname" contextHelpId="somecontextid.A001"/>
       </policy>
       
       <policy id="id3" parentPolicyId="id2">
         <descriptor shortName="id3 short name"/>
       </policy>
       
       <policy id="id4">
         <descriptor shortName="id4 short name" longName="id4 long name" />
       </policy>
       
       <enumeration id="org.eclipse.wst.service.policy.booleanEnum" 
                    default="org.eclipse.wst.true">
         <item id="org.eclipse.wst.true"
               shortName="true" />
         <item id="org.eclipse.wst.false"
               shortName="false" 
               longName="falsehood"/>
       </enumeration>
       
       <enumeration id="org.eclipse.wst.service.policy.errorWarnEnum" 
                    default="org.eclipse.wst..warn">
         <item id="org.eclipse.wst.service.policy.errorWarnEnum.ignore"
               shortName="ignore" />
         <item id="org.eclipse.wst.warn"
               shortName="warn" 
               longName="long name for warn"/>
         <item id="org.eclipse.wst.error"
               longName="error" />
       </enumeration>
     </servicePolicy>
   </extension>
   
   <extension point="org.eclipse.wst.ws.service.policy.ui.servicepolicyui">
     <servicePolicyUI>
       <operation id="service.ui.policy1"
                      policyPattern="id3|id2" >
         <descriptor shortName="UI policy1 short name" longName="UI policy1 long name" />
         <enumeration id="org.eclipse.wst.service.policy.errorWarnEnum"/>
       </operation>
       
       <operation id="service.ui.policy2"
                      policyPattern="id2" >
         <descriptor shortName="UI policy2 short name" longName="UI policy2 long name" />
         <selection/>
       </operation>
       
       <operation id="service.ui.policy3"
                      policyPattern="id3" >
         <descriptor shortName="UI policy3 short name" longName="UI policy3 long name" />
         <selection icon="true"/>
         <enabled multiselect="true"/>
       </operation>
       
       <operation id="service.ui.policy4"
                      policyPattern="id3" >
         <descriptor shortName="UI policy4 short name" longName="UI policy4 long name" />
         <complex launchClass="org.eclipse.wst.ws.service.policy.test.TestLaunchClass"/>
         <enabled multiselect="false"
                  enabledClass="org.eclipse.wst.ws.service.policy.test.TestEnabledClass"/>
       </operation>
       
     </servicePolicyUI>
   </extension>

</plugin>
