<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.eclipse.wst.ws.service.policy.servicepolicy">
     <servicePolicy>
       <policy parentPolicyId="someparent" id="id1" enumListId="org.eclipse.wst.service.policy.errorWarnEnum" mutable="true">
         <descriptor shortName="id1 shortName" description="id1 description"/>
         <relationship enumList="org.eclipse.wst.warn org.eclipse.wst.error">
           <targetPolicy id="id2"
                   itemList="org.eclipse.wst.warn org.eclipse.wst.error"/>
           <targetPolicy id="id3"
                   itemList="org.eclipse.wst.warn"/>
           <targetPolicy id="id4"
                   itemList="org.eclipse.wst.error"/>
           <targetPolicy id="id22"
                   itemList="org.eclipse.wst.warn2 org.eclipse.wst.error2"/>
  			<targetPolicy id="id_boolean2"
                   itemList="org.eclipse.wst.false"/>  
         </relationship>
         
         <relationship enumList="org.eclipse.wst.ignore">
           <targetPolicy id="id3"
                   itemList="org.eclipse.wst.warn org.eclipse.wst.error"/>
         </relationship>
       </policy>
       
       <policy id="someparent">
         <descriptor longName="parent longname" />
       </policy>
       
       <policy id="id2" parentPolicyId="someparent" 
                        enumListId="org.eclipse.wst.service.policy.errorWarnEnum"
                        defaultEnumId="org.eclipse.wst.warn"
                        mutable="true">
         <descriptor shortName="id2 shortname" contextHelpId="somecontextid.A001"/>
         <state key="id2_key" value="id2_value" />
       </policy>
       
       <policy id="id3" parentPolicyId="id2" 
       					enumListId="org.eclipse.wst.service.policy.errorWarnEnum"
       					defaultEnumId="org.eclipse.wst.error">
         <descriptor shortName="id3 short name"/>
       </policy>
       <policy id="id5" parentPolicyId="id3" 
       					enumListId="org.eclipse.wst.service.policy.errorWarnEnum"
       					defaultEnumId="org.eclipse.wst.error">
         <descriptor shortName="id5 short name"/>
         <relationship enumList="org.eclipse.wst.warn">
           <targetPolicy id="id2" 
                   itemList="org.eclipse.wst.ignore"/>
         </relationship>  
       </policy>
       <policy id="id6" parentPolicyId="id5" 
       					enumListId="org.eclipse.wst.service.policy.errorWarnEnum"
       					defaultEnumId="org.eclipse.wst.error">
         <descriptor shortName="id6 short name"/>
       </policy>

       <policy id="id10" parentPolicyId="id22" 
       					enumListId="org.eclipse.wst.service.policy.errorWarnEnum"
       					defaultEnumId="org.eclipse.wst.error">
         <descriptor shortName="id10 short name"/>
       </policy>
       <policy id="id11" parentPolicyId="id10" 
       					enumListId="org.eclipse.wst.service.policy.errorWarnEnum"
       					defaultEnumId="org.eclipse.wst.error">
         <descriptor shortName="id11 short name"/>
         <relationship enumList="org.eclipse.wst.warn">
           <targetPolicy id="id2" 
                   itemList="org.eclipse.wst.ignore"/>
         </relationship>  
       </policy>
       <policy id="id12" parentPolicyId="id11" 
       					enumListId="org.eclipse.wst.service.policy.errorWarnEnum"
       					defaultEnumId="org.eclipse.wst.error">
         <descriptor shortName="id12 short name"/>
       </policy>
       
       <policy id="id7" parentPolicyId="id2" 
       					enumListId="org.eclipse.wst.service.policy.errorWarnEnum"
       					defaultEnumId="org.eclipse.wst.error">
         <descriptor shortName="id7 short name"/>
       </policy>
       <policy id="id8" parentPolicyId="id7" 
       					enumListId="org.eclipse.wst.service.policy.errorWarnEnum"
       					defaultEnumId="org.eclipse.wst.error">
         <descriptor shortName="id8 short name"/>
       </policy>
       <policy id="id9" parentPolicyId="id8" 
       					enumListId="org.eclipse.wst.service.policy.errorWarnEnum"
       					defaultEnumId="org.eclipse.wst.error">
         <descriptor shortName="id9 short name"/>
         <relationship enumList="org.eclipse.wst.warn">
           <targetPolicy id="id2" 
                   itemList="org.eclipse.wst.ignore"/>
         </relationship>  
       </policy>
       
       <policy id="id4" enumListId="org.eclipse.wst.service.policy.errorWarnEnum">
         <descriptor shortName="id4 short name" longName="id4 long name" />
       </policy>
       
       <policy id="id22" parentPolicyId="someparent" 
                        enumListId="org.eclipse.wst.service.policy.errorWarnEnum2"
                        defaultEnumId="org.eclipse.wst.warn2">
         <descriptor shortName="id22 shortname" contextHelpId="somecontextid.A001"/>
       </policy>
       
       <policy id="id_boolean1" enumListId="org.eclipse.wst.service.policy.booleanEnum"
                                defaultEnumId="org.eclipse.wst.true">
         <descriptor shortName="boolean1 short name" longName="boolean1 long name" />
       </policy>
       
       <policy id="id_boolean2" enumListId="org.eclipse.wst.service.policy.booleanEnum"
                                defaultEnumId="org.eclipse.wst.true">
         <descriptor shortName="boolean2 short name" longName="boolean2 long name" />
       </policy>
       <enumeration id="org.eclipse.wst.service.policy.errorWarnEnum2" 
                    default="org.eclipse.wst.ignore2">
         <item id="org.eclipse.wst.ignore2"
               shortName="IGNORE SHORTNAME2" longName="IGNORE LONGNAME2" />
         <item id="org.eclipse.wst.warn2"
               shortName="WARN SHORTNAME2" longName="WARN LONGNAME2" />
         <item id="org.eclipse.wst.error2"
               shortName="ERROR SHORTNAME2" longName="ERROR LONGNAME2" />
       </enumeration> 
       
     </servicePolicy>      
   </extension>
   
   <extension point="org.eclipse.wst.ws.service.policy.ui.servicepolicyui">
     <servicePolicyUI> 
       <operation id="service.ui.operation1"
                      policyPattern="id3|id2" >
         <descriptor shortName="UI policy1 short name" longName="UI policy1 long name" />
         <enumeration id="org.eclipse.wst.service.policy.errorWarnEnum"/>
         <enabled multiselect="true"/>
       </operation>
       
       <operation id="service.ui.operation2"
                      policyPattern="id.*" >
         <descriptor shortName="UI policy2 short name" longName="UI policy2 long name" />
         <enumeration id="org.eclipse.wst.service.policy.errorWarnEnum"/>
         <enabled multiselect="false"/>
       </operation> 
       
       <operation id="service.ui.operation3"
                      policyPattern="id4" >
         <descriptor shortName="UI policy3 short name" longName="UI policy3 long name" />
         <enumeration id="org.eclipse.wst.service.policy.errorWarnEnum"/>
       </operation>
       
       <operation id="service.ui.operation4"
                      policyPattern="id1|id2|id3" >
         <descriptor shortName="UI policy4 short name" longName="UI policy4 long name" />
         <enumeration id="org.eclipse.wst.service.policy.errorWarnEnum"/>
       </operation>
     
       <operation id="service.ui.operation5"
                      policyPattern="id22" workspaceOnly="true">
         <descriptor shortName="UI policy5 short name" longName="UI policy5 long name" />
         <enumeration id="org.eclipse.wst.service.policy.errorWarnEnum2"/>
       </operation>      
       <operation id="service.ui.boolean.operation1"
                      policyPattern="id_bool.*" workspaceOnly="true">
         <descriptor shortName="UI policy2 bool short name" longName="UI policy2b bool long name" />
         <selection/>
       </operation>
       
       <operation id="service.ui.boolean.operation2"
                      policyPattern="id_boolean2" >
         <descriptor shortName="UI policy3 bool short name" longName="UI policy3 bool long name" />
         <selection icon="true"/>
       </operation>
       
       <operation id="service.ui.complex.operation1"
                      policyPattern="someparent" >
         <descriptor shortName="UI policy4 short name" longName="UI policy4 long name" />
         <complex launchClass="org.eclipse.wst.ws.service.policy.test.TestLaunchClass"/>
         <enabled multiselect="true"
                  enabledClass="org.eclipse.wst.ws.service.policy.test.TestEnabledClass"/>
       </operation>
       
       <quickFix pluginId="org.eclipse.wst.ws.service.policy.test"
                 code="1">
          <action class="org.eclipse.wst.ws.service.policy.test.action1">
             <descriptor shortName="quick fix 1 for code 1"/>
          </action>
          <action class="org.eclipse.wst.ws.service.policy.test.action2">
             <descriptor shortName="quick fix 2 for code 1"/>
          </action>
       </quickFix>
       
       <quickFix pluginId="org.eclipse.wst.ws.service.policy.test"
                 code="2">
          <action class="org.eclipse.wst.ws.service.policy.test.action3">
             <descriptor shortName="quick fix 1 for code 2"/>
          </action>
       </quickFix>
     </servicePolicyUI>
   </extension>

</plugin>
