<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.eclipse.wst.ws.service.policy.servicepolicy">
     <servicePolicy>
       <policy parentPolicyId="someparent" id="id1" enumListId="org.eclipse.wst.service.policy.errorWarnEnum">
         <descriptor shortName="id1 shortName" description="id1 description"/>
         <relationship enumList="org.eclipse.wst.warn">
           <policy id="id2"
                   itemList="org.eclipse.wst.warn org.eclipse.wst.error"/>
           <policy id="id3"
                   itemList="org.eclipse.wst.warn"/>
           <policy id="id4"
                   itemList="org.eclipse.wst.error"/>
         </relationship>
         
         <relationship enumList="org.eclipse.wst.ignore">
           <policy id="id3"
                   itemList="org.eclipse.wst.warn org.eclipse.wst.error"/>
         </relationship>
       </policy>
       
       <policy id="someparent">
         <descriptor longName="parent longname" />
       </policy>
       
       <policy id="id2" parentPolicyId="someparent" 
                        enumListId="org.eclipse.wst.service.policy.errorWarnEnum"
                        defaultEnumId="org.eclipse.wst.warn">
         <descriptor shortName="id2 shortname" contextHelpId="somecontextid.A001"/>
       </policy>
       
       <policy id="id3" parentPolicyId="id2" enumListId="org.eclipse.wst.service.policy.errorWarnEnum">
         <descriptor shortName="id3 short name"/>
       </policy>
       
       <policy id="id4" enumListId="org.eclipse.wst.service.policy.errorWarnEnum">
         <descriptor shortName="id4 short name" longName="id4 long name" />
       </policy>
       
       <policy id="id_boolean1" enumListId="org.eclipse.wst.service.policy.booleanEnum"
                                defaultEnumId="org.eclipse.wst.true">
         <descriptor shortName="boolean1 short name" longName="boolean1 long name" />
       </policy>
       
       <policy id="id_boolean2" enumListId="org.eclipse.wst.service.policy.booleanEnum"
                                defaultEnumId="org.eclipse.wst.false">
         <descriptor shortName="boolean2 short name" longName="boolean2 long name" />
       </policy>
     </servicePolicy>      
   </extension>
   
   <extension point="org.eclipse.wst.ws.service.policy.ui.servicepolicyui">
     <servicePolicyUI>
       <operation id="service.ui.operation1"
                      policyPattern="id3|id2" >
         <descriptor shortName="UI policy1 short name" longName="UI policy1 long name" />
         <enumeration id="org.eclipse.wst.service.policy.errorWarnEnum"/>
       </operation>
       
       <operation id="service.ui.operation2"
                      policyPattern="id.*" >
         <descriptor shortName="UI policy2 short name" longName="UI policy2 long name" />
         <enumeration id="org.eclipse.wst.service.policy.errorWarnEnum"/>
       </operation>
       
       <operation id="service.ui.operation3"
                      policyPattern="id4" >
         <descriptor shortName="UI policy3 short name" longName="UI policy3 long name" />
         <enumeration id="org.eclipse.wst.service.policy.errorWarnEnum"/>
       </operation>
       
       <operation id="service.ui.operation4"
                      policyPattern="id1|id2|id3" >
         <descriptor shortName="UI policy4 short name" longName="UI policy4 long name" />
         <enumeration id="org.eclipse.wst.service.policy.errorWarnEnum"/>
       </operation>
       
       <operation id="service.ui.boolean.operation1"
                      policyPattern="id_bool.*" >
         <descriptor shortName="UI policy2 short name" longName="UI policy2 long name" />
         <selection/>
       </operation>
       
       <operation id="service.ui.boolean.operation2"
                      policyPattern="id_boolean2" >
         <descriptor shortName="UI policy3 short name" longName="UI policy3 long name" />
         <selection icon="true"/>
         <enabled multiselect="true"/>
       </operation>
       
       <operation id="service.ui.complex.operation1"
                      policyPattern="someparent" >
         <descriptor shortName="UI policy4 short name" longName="UI policy4 long name" />
         <complex launchClass="org.eclipse.wst.ws.service.policy.test.TestLaunchClass"/>
         <enabled multiselect="true"
                  enabledClass="org.eclipse.wst.ws.service.policy.test.TestEnabledClass"/>
       </operation>
       
     </servicePolicyUI>
   </extension>

</plugin>
