<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.jst.ws.annotations.core.annotationCategory">
      <category
            id="jaxb.category"
            name="%JAXB_CATEGORY_NAME">
      </category>
   </extension>

   <extension point="org.eclipse.jst.ws.annotations.core.annotationDefinition">
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlAccessorOrder"
            name="XmlAccessorOrder"/>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlAccessorType"
            name="XmlAccessorType"/>
      
      <!-- TODO Reinstate when XmlAdapter issue is solved
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.adapters.XmlAdapter"
            name="XmlAdapter">
      </annotation>
      -->
      
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlAnyAttribute"
            name="XmlAnyAttribute">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlAnyElement"
            name="XmlAnyElement">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlAttachmentRef"
            name="XmlAttachmentRef">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlAttribute"
            name="XmlAttribute">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlElement"
            name="XmlElement">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlElementDecl"
            name="XmlElementDecl">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlElementRef"
            name="XmlElementRef">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlElementRefs"
            name="XmlElementRefs">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlElementWrapper"
            name="XmlElementWrapper">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlElements"
            name="XmlElements">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlEnum"
            name="XmlEnum">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlEnumValue"
            name="XmlEnumValue">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlID"
            name="XmlID">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlIDREF"
            name="XmlIDREF">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlInlineBinaryData"
            name="XmlInlineBinaryData">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.adapters.XmlJavaTypeAdapter"
            name="XmlJavaTypeAdapter">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.adapters.XmlJavaTypeAdapters"
            name="XmlJavaTypeAdapters">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlList"
            name="XmlList">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlMimeType"
            name="XmlMimeType">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlMixed"
            name="XmlMixed">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlNs"
            name="XmlNs">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlRegistry"
            name="XmlRegistry">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlRootElement"
            name="XmlRootElement">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlSchema"
            name="XmlSchema">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlSchemaType"
            name="XmlSchemaType">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlSchemaTypes"
            name="XmlSchemaTypes">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlSeeAlso"
            name="XmlSeeAlso">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlTransient"
            name="XmlTransient">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlType"
            name="XmlType">
      </annotation>
      <annotation
            category="jaxb.category"
            class="javax.xml.bind.annotation.XmlValue"
            name="XmlValue">
      </annotation>
   </extension>
   
</plugin>
