<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.eclipse.jst.ws.consumption.wsfinder">
      <wsfinder
            id="org.eclipse.jst.ws.internal.axis.consumption.core.wsfinder.WSFinderAxis"
            name="org.eclipse.jst.ws.internal.axis.consumption.core.wsfinder.WSFinderAxis"
            description="org.eclipse.jst.ws.internal.axis.consumption.core.wsfinder.WSFinderAxis"
            class="org.eclipse.jst.ws.internal.axis.consumption.core.wsfinder.WSFinderAxis">
      </wsfinder>
   </extension>

   <!-- Extension providing workspace WSDL discovery -->   
   <extension point="org.eclipse.wst.ws.locator">

      <webServiceLocatorCategory
            id="org.eclipse.jst.ws.internal.axis.consumption.core.locator.category.axis"
            label="%X_WEB_SERVICE_LOCATOR_CATEGORY_AXIS"/>

      <webServiceLocator
            class="org.eclipse.jst.ws.internal.axis.consumption.core.locator.AxisWebServiceLocator"
            id="org.eclipse.jst.ws.internal.axis.consumption.core.locator.axis"
            category="org.eclipse.jst.ws.internal.axis.consumption.core.locator.category.axis"
            label="%X_WEB_SERVICE_LOCATOR_AXIS">
      </webServiceLocator>

   </extension>


   <!-- define a wsdd file type for Axis Web Service Deployment Descriptors -->
   <extension point="org.eclipse.team.core.fileTypes">
      <fileTypes
            type="text"
            extension="wsdd">
      </fileTypes>
   </extension>
   
   <!-- define a wsdd content type for Axis Web Service Deployment Descriptors -->
   <extension point="org.eclipse.core.runtime.contentTypes">
      <content-type
            priority="high"
            name="%xpWSDDContentType"
            id="wsddsource"
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="wsdd" />
   </extension>

	<extension 
		point="org.eclipse.wst.command.env.ui.antfiles">
  		<antfiles
    		id="org.eclipse.jst.ws.axis.creation.axisWebServiceRTTopJava"
    		runtimeid="axis"
    		pluginlocation="org.eclipse.jst.ws.axis.consumption.core"
    		path="ant/axis_tdjava.properties"
    		wsgenpath="ant/axis_tdjava.xml"
    		runtimelabel="%LABEL_RUNTIME_AXIS"
    		scenariolabel="%LABEL_TOP_DOWN_JAVA_BEAN">
  		</antfiles>
  		<antfiles
    		id="org.eclipse.jst.ws.axis.creation.axisWebServiceRTBUJava"
    		runtimeid="axis"
    		pluginlocation="org.eclipse.jst.ws.axis.consumption.core"
    		path="ant/axis_bujava.properties"
    		wsgenpath="ant/axis_bujava.xml"
    		runtimelabel="%LABEL_RUNTIME_AXIS"
    		scenariolabel="%LABEL_BOTTOM_UP_JAVA_BEAN">
  		</antfiles>
  		<antfiles
    		id="org.eclipse.jst.ws.axis.creation.axisWebServiceRTClient"
    		runtimeid="axis"
    		pluginlocation="org.eclipse.jst.ws.axis.consumption.core"
    		path="ant/axis_client.properties"
    		wsgenpath="ant/axis_client.xml"
    		runtimelabel="%LABEL_RUNTIME_AXIS"
    		scenariolabel="%LABEL_CLIENT">
  		</antfiles>
  	</extension>

</plugin>