<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

     <extension point="org.eclipse.jst.ws.consumption.wsfinder">
      <wsfinder
            id="org.eclipse.jst.ws.internal.axis.consumption.core.wsfinder.WSFinderAxis"
            name="org.eclipse.jst.ws.internal.axis.consumption.core.wsfinder.WSFinderAxis"
            description="org.eclipse.jst.ws.internal.axis.consumption.core.wsfinder.WSFinderAxis"
            class="org.eclipse.jst.ws.internal.axis.consumption.core.wsfinder.WSFinderAxis">
      </wsfinder>
   </extension>

</plugin>