<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    	<extension
         point="org.eclipse.ui.preferencePages">

      <page
            name="%PLUGIN_NEW_CATEGORY_NAME_WS"
            class="org.eclipse.wst.ws.internal.ui.preferences.WebServicesPreferencePage"
            id="org.eclipse.wst.ws.internal.ui.preferences.name">
      </page>
      
      <page
            name="%PREFERENCE_CATEGORY_WSI"
            category="org.eclipse.wst.ws.internal.ui.preferences.name"
            class="org.eclipse.wst.ws.internal.ui.wsi.preferences.WSICompliancePreferencePage"
            id="org.eclipse.wst.ws.internal.ui.wsi.preferences.WSICompliancePreferencePage">
      </page>

   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">

      <page
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            name="%PREFERENCE_CATEGORY_WSI"
            class="org.eclipse.wst.ws.internal.ui.wsi.properties.WSICompliancePropertyPage"
            id="org.eclipse.wst.ws.internal.ui.wsi.properties.WSICompliancePropertyPage">
      </page>

   </extension>
</plugin>
