<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.help.toc">
      <toc file="toc.xml" primary="true"/>
      <toc file="tocconcepts.xml"/>
      <toc file="toctasks.xml"/>
      <toc file="tocreference.xml"/>
   </extension>
   
   <extension point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.eclipse.jst.ws.jaxws"
            name="%cheatsheet.category.jaxws">
      </category>
   </extension>
   
</plugin>
