<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/*******************************************************************************
 * Copyright (c) 2002-2005 IBM Corporation and others.
 * All rights reserved.   This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   IBM - Initial API and implementation
 *******************************************************************************/
--> 

<plugin
   id="org.eclipse.wst.wsi"
   name="%_PLUGIN_NAME"
   version="1.0.0"
   provider-name = "%_PROVIDER_NAME"
   class="org.eclipse.wst.wsi.internal.WSITestToolsPlugin">

   <runtime>
      <library name="wsicore.jar">
         <export name="*"/>
      </library>
      <library name="wsivalidate.jar">
         <export name="*"/>
      </library>
    </runtime>
   
   <requires>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.wst.command.env"/>
      <import plugin="org.eclipse.wst.command.env.ui"/>
      <import plugin="org.eclipse.wst.command.env.core"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.wst.wsdl.validation"/>
      <import plugin="org.eclipse.wst.ws.ui"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.apache.axis11"/>
      <import plugin="org.uddi4j"/>
      <import plugin="org.wsdl4j"/>
   </requires>
  
     <extension
         id="wsdlWSIValidator"
         name="%_UI_WSDL_WSI_VALIDATOR"
         point="org.eclipse.wst.wsdl.validation.extvalidator">
      <extvalidator
            namespace="http://schemas.xmlsoap.org/wsdl/"
            class="org.eclipse.wst.wsi.internal.validate.wsdl.WSDLValidator"
            resourcebundle="wsivalidate">
      </extvalidator>
   </extension>
  
</plugin>
