<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.wst.wsdl.tests"
   name="WSDL JUnit Test"
   version="1.0.0"
   class="org.eclipse.wst.wsdl.tests.WSDLTestsPlugin">

   <runtime>
      <library name="wsdl.tests.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.wst.wsdl"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="org.eclipse.xsd"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.junit"/>
      <import plugin="org.wsdl4j"/>
      <import plugin="org.eclipse.wst.common.uriresolver"/>
   </requires>

</plugin>