<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin
   id="org.eclipse.wst.ws.parser"
   version="1.0.0"
   name="%PLUGIN_NAME"
   provider-name="%PLUGIN_PROVIDER"
   class="org.eclipse.wst.ws.parser.ParserPlugin">

   <runtime>
      <library name="parser.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.wst.ws.apache.wsil"/>
      <import plugin="org.eclipse.wst.ws.uddi4j"/>
      <import plugin="org.eclipse.wst.wsdl"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.wst.ws.apache.soap"/>
      <!-- TODO: Why is the following import required? -->
      <import plugin="org.eclipse.emf.common"/>
   </requires>

</plugin>