<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin
   id="org.eclipse.wst.ws.parser"
   version="1.0.0"
   name="%PLUGIN_NAME"
   provider-name="%PLUGIN_PROVIDER"
   class="org.eclipse.wst.ws.internal.parser.plugin.ParserPlugin">

   <runtime>
      <library name="parser.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.wst.wsdl"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.apache.wsil4j"/>
      <import plugin="org.uddi4j"/>
      <import plugin="org.apache.axis11"/>
      <import plugin="org.wsdl4j"/>
   </requires>

</plugin>