<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

     <!-- Web Service Client Types -->

   <extension
         point="org.eclipse.jst.ws.consumption.ui.webServiceClientType">

      <webServiceServer
            factoryId="org.eclipse.jst.server.tomcat.32"
            isDefault="false"
            runtimeTypeIds="org.eclipse.jst.server.tomcat.32.runtime"
            id="SERVER_ID_TOMCAT32_LOCAL">
      </webServiceServer>

      <webServiceServer
            factoryId="org.eclipse.jst.server.tomcat.40"
            isDefault="false"
            runtimeTypeIds="org.eclipse.jst.server.tomcat.40.runtime"
            id="SERVER_ID_TOMCAT40_LOCAL">
      </webServiceServer>

      <webServiceServer
            factoryId="org.eclipse.jst.server.tomcat.41"
            isDefault="false"
            runtimeTypeIds="org.eclipse.jst.server.tomcat.41.runtime"
            id="SERVER_ID_TOMCAT41_LOCAL">
      </webServiceServer>

      <webServiceServer
            factoryId="org.eclipse.jst.server.tomcat.50"
            isDefault="false"
            runtimeTypeIds="org.eclipse.jst.server.tomcat.50.runtime"
            id="SERVER_ID_TOMCAT50_LOCAL">
      </webServiceServer>

      <webServiceRuntime
            label="%LABEL_RUNTIME_AXIS_11"
            description="%DESC_RUNTIME_AXIS_11"
            isDefault="false"
            j2eeversion="13 14"
            id="org.eclipse.jst.ws.runtime.axis11">
      </webServiceRuntime>

      <webServiceClientType
            name="%WEBSERVICECLIENTTYPE_NAME_JAVA_AXIS"
            runtime="org.eclipse.jst.ws.runtime.axis11"
            clientType="org.eclipse.jst.ws.client.type.java"
            assemblyBinding="org.eclipse.jst.ws.internal.axis.consumption.ui.wizard.client.WebServiceClientAxisType"
            server="SERVER_ID_TOMCAT32_LOCAL"
            id="org.eclipse.jst.ws.internal.axis.consumption.ui.wizard.client.WebServiceClientAxisType.axis11.Tomcat32Local">
      </webServiceClientType>

      <webServiceClientType
            name="%WEBSERVICECLIENTTYPE_NAME_JAVA_AXIS"
            runtime="org.eclipse.jst.ws.runtime.axis11"
            clientType="org.eclipse.jst.ws.client.type.java"
            assemblyBinding="org.eclipse.jst.ws.internal.axis.consumption.ui.wizard.client.WebServiceClientAxisType"
            server="SERVER_ID_TOMCAT40_LOCAL"
            id="org.eclipse.jst.ws.internal.axis.consumption.ui.wizard.client.WebServiceClientAxisType.axis11.Tomcat40Local">
      </webServiceClientType>

      <webServiceClientType
            name="%WEBSERVICECLIENTTYPE_NAME_JAVA_AXIS"
            runtime="org.eclipse.jst.ws.runtime.axis11"
            clientType="org.eclipse.jst.ws.client.type.java"
            assemblyBinding="org.eclipse.jst.ws.internal.axis.consumption.ui.wizard.client.WebServiceClientAxisType"
            server="SERVER_ID_TOMCAT41_LOCAL"
            id="org.eclipse.jst.ws.internal.axis.consumption.ui.wizard.client.WebServiceClientAxisType.axis11.Tomcat41Local">
      </webServiceClientType>

      <webServiceClientType
            name="%WEBSERVICECLIENTTYPE_NAME_JAVA_AXIS"
            runtime="org.eclipse.jst.ws.runtime.axis11"
            clientType="org.eclipse.jst.ws.client.type.java"
            assemblyBinding="org.eclipse.jst.ws.internal.axis.consumption.ui.wizard.client.WebServiceClientAxisType"
            server="SERVER_ID_TOMCAT50_LOCAL"
            id="org.eclipse.jst.ws.internal.axis.consumption.ui.wizard.client.WebServiceClientAxisType.axis11.Tomcat50Local">
      </webServiceClientType>

   </extension>

   <!-- J2EE Service Reference Generator -->
      
   <extension
         point="org.eclipse.jst.j2ee.WebServiceClientGenerator">
     <generator
           className="org.eclipse.jst.ws.internal.axis.consumption.ui.command.AxisClientGenerator">
        <runtime
              serverTarget="Generic J2EE Container">
        </runtime>         
     </generator>
   </extension>
   
	<extension point="org.eclipse.wst.command.env.ui.widgetRegistry">
       <widgetFactory   
             id="AxisClientConfig"
             insertBeforeCommandId="org.eclipse.jst.ws.internal.axis.consumption.ui.task.DefaultsForHTTPBasicAuthCommand"
             class="org.eclipse.jst.ws.internal.axis.consumption.ui.wsrt.AxisClientConfigWidgetFactory"/>
    </extension> 

</plugin>