<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   
	<extension point="org.eclipse.wst.command.env.ui.widgetRegistry">
       <widgetFactory   
             id="AxisClientConfig"
             insertBeforeCommandId="org.eclipse.jst.ws.internal.axis.consumption.ui.task.DefaultsForHTTPBasicAuthCommand"
             class="org.eclipse.jst.ws.internal.axis.consumption.ui.wsrt.AxisClientConfigWidgetFactory"/>
    </extension> 
          <extension
           point="org.eclipse.wst.command.env.antDataMapping">
        <map
              key="ClientProjectName"
              operation="org.eclipse.jst.ws.internal.axis.consumption.ui.command.AxisClientDefaultingCommand"
              property="ClientProject"
              transform="org.eclipse.jst.ws.internal.common.String2IProjectTransformer"/>
        <map
              key="CustomizeClientMappings"
              operation="org.eclipse.jst.ws.internal.axis.consumption.ui.command.AxisClientDefaultingCommand"
              property="CustomizeClientMappings"/>                                 
 		<map
              key="Mappings"
              operation="org.eclipse.jst.ws.internal.axis.consumption.ui.task.DefaultsForHTTPBasicAuthCommand"
              property="JavaWSDLParam"
              transform="org.eclipse.jst.ws.internal.axis.consumption.core.common.JavaWSDLParamModifier"/>
 		<map
              key="Mappings"
              operation="org.eclipse.jst.ws.internal.axis.consumption.ui.command.DefaultsForClientJavaWSDLCommand"
              property="JavaWSDLParam"
              transform="org.eclipse.jst.ws.internal.axis.consumption.core.common.JavaWSDLParamModifier"/>
 		<map
              key="Mappings"
              operation="org.eclipse.jst.ws.internal.axis.consumption.core.command.WSDL2JavaCommand"
              property="JavaWSDLParam"
              transform="org.eclipse.jst.ws.internal.axis.consumption.core.common.JavaWSDLParamModifier"/>
 		<map
              key="Mappings"
              operation="org.eclipse.jst.ws.internal.axis.consumption.ui.task.Stub2BeanCommand"
              property="JavaWSDLParam"
              transform="org.eclipse.jst.ws.internal.axis.consumption.core.common.JavaWSDLParamModifier"/>
  </extension> 
</plugin>