<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin
   id="org.eclipse.jst.ws.axis.consumption.ui"
   version="1.0.0"
   name="%PLUGIN_NAME"
   provider-name="%PLUGIN_PROVIDER"
   class="org.eclipse.jst.ws.internal.axis.consumption.ui.plugin.WebServiceAxisConsumptionUIPlugin">

   <runtime>
      <library name="wsc-axis-ui.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.emf.common"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jem"/>
      <import plugin="org.eclipse.jem.workbench"/>
      <import plugin="org.eclipse.wst.ws.parser"/>
      <import plugin="org.eclipse.jst.ws.consumption.ui"/>
      <import plugin="org.eclipse.jst.ws"/>
      <import plugin="org.eclipse.jst.ws.axis.consumption.core"/>
      <import plugin="org.eclipse.jst.ws.ui"/>
      <import plugin="org.eclipse.jst.ws.consumption"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.wst.command.env.core"/>
      <import plugin="org.eclipse.wst.command.env"/>
      <import plugin="org.eclipse.wst.command.env.ui"/>
      <import plugin="org.eclipse.wst.server.core"/>
      <import plugin="org.eclipse.wst.wsdl"/>
      <import plugin="org.eclipse.jst.j2ee"/>
      <import plugin="org.eclipse.jst.j2ee.web"/>
      <import plugin="org.eclipse.wst.common.emfworkbench.integration"/>
      <import plugin="com.ibm.wtp.emf.workbench"/>
      <import plugin="org.eclipse.wst.web"/>
   </requires>

   <!-- Web Service Client Types -->

   <extension
         point="org.eclipse.jst.ws.consumption.ui.webServiceClientType">

      <webServiceServer
            factoryId="org.eclipse.jst.server.tomcat.32"
            isDefault="false"
            runtimeTypeIds="org.eclipse.jst.server.tomcat.32.runtime"
            id="SERVER_ID_TOMCAT32_LOCAL">
      </webServiceServer>

      <webServiceServer
            factoryId="org.eclipse.jst.server.tomcat.40"
            isDefault="false"
            runtimeTypeIds="org.eclipse.jst.server.tomcat.40.runtime"
            id="SERVER_ID_TOMCAT40_LOCAL">
      </webServiceServer>

      <webServiceServer
            factoryId="org.eclipse.jst.server.tomcat.41"
            isDefault="false"
            runtimeTypeIds="org.eclipse.jst.server.tomcat.41.runtime"
            id="SERVER_ID_TOMCAT41_LOCAL">
      </webServiceServer>

      <webServiceServer
            factoryId="org.eclipse.jst.server.tomcat.50"
            isDefault="false"
            runtimeTypeIds="org.eclipse.jst.server.tomcat.50.runtime"
            id="SERVER_ID_TOMCAT50_LOCAL">
      </webServiceServer>

      <webServiceRuntime
            label="%LABEL_RUNTIME_AXIS_11"
            description="%DESC_RUNTIME_AXIS_11"
            isDefault="false"
            j2eeversion="13 14"
            id="org.eclipse.jst.ws.runtime.axis11">
      </webServiceRuntime>

      <webServiceClientType
            name="%WEBSERVICECLIENTTYPE_NAME_JAVA_AXIS"
            runtime="org.eclipse.jst.ws.runtime.axis11"
            clientType="org.eclipse.jst.ws.client.type.java"
            assemblyBinding="org.eclipse.jst.ws.internal.axis.consumption.ui.wizard.client.WebServiceClientAxisType"
            server="SERVER_ID_TOMCAT32_LOCAL"
            id="org.eclipse.jst.ws.internal.axis.consumption.ui.wizard.client.WebServiceClientAxisType.axis11.Tomcat32Local">
      </webServiceClientType>

      <webServiceClientType
            name="%WEBSERVICECLIENTTYPE_NAME_JAVA_AXIS"
            runtime="org.eclipse.jst.ws.runtime.axis11"
            clientType="org.eclipse.jst.ws.client.type.java"
            assemblyBinding="org.eclipse.jst.ws.internal.axis.consumption.ui.wizard.client.WebServiceClientAxisType"
            server="SERVER_ID_TOMCAT40_LOCAL"
            id="org.eclipse.jst.ws.internal.axis.consumption.ui.wizard.client.WebServiceClientAxisType.axis11.Tomcat40Local">
      </webServiceClientType>

      <webServiceClientType
            name="%WEBSERVICECLIENTTYPE_NAME_JAVA_AXIS"
            runtime="org.eclipse.jst.ws.runtime.axis11"
            clientType="org.eclipse.jst.ws.client.type.java"
            assemblyBinding="org.eclipse.jst.ws.internal.axis.consumption.ui.wizard.client.WebServiceClientAxisType"
            server="SERVER_ID_TOMCAT41_LOCAL"
            id="org.eclipse.jst.ws.internal.axis.consumption.ui.wizard.client.WebServiceClientAxisType.axis11.Tomcat41Local">
      </webServiceClientType>

      <webServiceClientType
            name="%WEBSERVICECLIENTTYPE_NAME_JAVA_AXIS"
            runtime="org.eclipse.jst.ws.runtime.axis11"
            clientType="org.eclipse.jst.ws.client.type.java"
            assemblyBinding="org.eclipse.jst.ws.internal.axis.consumption.ui.wizard.client.WebServiceClientAxisType"
            server="SERVER_ID_TOMCAT50_LOCAL"
            id="org.eclipse.jst.ws.internal.axis.consumption.ui.wizard.client.WebServiceClientAxisType.axis11.Tomcat50Local">
      </webServiceClientType>

   </extension>

   <!-- J2EE Service Reference Generator -->
      
   <extension
         point="org.eclipse.jst.j2ee.WebServiceClientGenerator">
     <generator
           className="org.eclipse.jst.ws.internal.axis.consumption.ui.command.AxisClientGenerator">
        <runtime
              serverTarget="Generic J2EE Container">
        </runtime>         
     </generator>
   </extension>

</plugin>