<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin
   id="org.eclipse.jst.ws.consumption.ui"
   version="1.0.0"
   name="%PLUGIN_NAME"
   provider-name="%PLUGIN_PROVIDER"
   class="org.eclipse.jst.ws.internal.consumption.ui.plugin.WebServiceConsumptionUIPlugin">

   <runtime>
      <library name="wsc-ui.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.wst.ws.parser"/>
      <import plugin="org.eclipse.wst.command.env"/>
      <import plugin="org.eclipse.wst.command.env.ui"/>
      <import plugin="org.eclipse.wst.command.env.core"/>
      <!--
      Should not need the following import, but absence causes
      ClientHandlersWidgetOutputCommand to fail to compile due to
      missing indirect dependency on
      org.eclipse.jst.common.jdt.internal.integration.WorkingCopyProvider
      -->
      <import plugin="org.eclipse.jst.common.frameworks"/>
      <import plugin="org.eclipse.jst.ws"/>
      <import plugin="org.eclipse.jst.ws.ui"/>
      <import plugin="org.eclipse.jst.ws.consumption"/>
      <import plugin="org.eclipse.jem"/>
	  <import plugin="org.eclipse.jem.workbench"/>
      <import plugin="org.eclipse.emf.common"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.wst.ws.apache.wsil"/>
      <import plugin="org.eclipse.jem.workbench"/>
      <import plugin="org.eclipse.emf.ecore.xmi"/>
      <import plugin="org.eclipse.wst.server.core"/>
      <import plugin="org.eclipse.wst.server.ui"/>
      <import plugin="org.eclipse.wst.wsdl"/>
      <import plugin="org.eclipse.jst.j2ee"/>
      <import plugin="org.eclipse.jst.j2ee.core"/>
      <import plugin="org.eclipse.jst.j2ee.ejb"/>
      <import plugin="org.eclipse.jst.j2ee.ui"/>
      <import plugin="org.eclipse.jst.j2ee.web"/>
      <import plugin="org.eclipse.wst.common.emf"/>
      <import plugin="org.eclipse.wst.common.emfworkbench.integration"/>
      <import plugin="org.eclipse.wst.common.frameworks"/>
      <import plugin="org.eclipse.wst.internet.webbrowser"/>
      <import plugin="org.eclipse.jst.j2ee.webservice"/>
      <import plugin="org.eclipse.jst.j2ee.webservices.ui"/>
      <import plugin="org.eclipse.wst.common.dependencychecker"/>
   </requires>

   <!-- Third party file dependencies -->
   <extension point="org.eclipse.wst.common.dependencychecker.dependencies">
      <dependency description="%FEATURE_DESCRIPTION">
         <requiredPlugin id="org.eclipse.wst.ws.apache.axis"/>
         <requiredPlugin id="org.eclipse.wst.ws.apache.soap"/>
         <requiredPlugin id="org.eclipse.wst.ws.apache.wsil"/>
         <requiredPlugin id="org.eclipse.wst.ws.uddi4j"/>
         <requiredPlugin id="org.eclipse.wst.wsdl"/>
      </dependency>
   </extension>

   <extension-point
      id="publicUDDIRegistryType"
      name="%XP_PUBLIC_UDDI_REGISTRY_TYPES"/>

   <extension-point
      id="privateUDDIRegistryType"
      name="%XP_PRIVATE_UDDI_REGISTRY_TYPES"/>

   <extension-point
      id="webServiceClientType"
      name="%XP_WEB_SERVICE_CLIENT_TYPES"
      schema="schema/webServiceClientType.exsd"/>

   <extension-point
      id="webServiceTest"
      name="%XP_WEB_SERVICE_TEST"
      schema="schema/webServiceTest.exsd"/>

   <extension-point
      id="webServiceServerRuntimeType"
      name="%XP_WEB_SERVICE_SERVER_RUNTIME_TYPES"
      schema="schema/webServiceServerRuntimeType.exsd"/>

   <extension-point
      id="clientProjectType"
      name="%XP_WEB_SERVICE_CLIENT_PROJECT_TYPE"
      schema="schema/clientProjectType.exsd"/>   

   <extension-point
      id="objectSelectionWidget"
      name="%XP_OBJECT_SELECTION_WIDGET"
      schema="schema/objectSelectionWidget.exsd"/>


   <!-- Third party file dependencies -->
   <extension point="org.eclipse.wst.common.dependencychecker.dependencies">
     <dependency description="%FEATURE_DESCRIPTION">
       <requiredPlugin id="org.eclipse.wst.ws.apache.axis"/>
       <requiredPlugin id="org.eclipse.wst.ws.apache.soap"/>
       <requiredPlugin id="org.eclipse.wst.ws.apache.wsil"/>
       <requiredPlugin id="org.eclipse.wst.ws.uddi4j"/>
       <requiredPlugin id="org.eclipse.wst.wsdl"/>
     </dependency>
   </extension>
   
   <!-- UDDI Registry Types -->
   
   <extension
         point="org.eclipse.jst.ws.consumption.ui.publicUDDIRegistryType">
      <publicUDDIRegistryType
            name="%PUBLICUDDIREGISTRYTYPE_NAME_IBM_TEST"
            class="org.eclipse.jst.ws.internal.consumption.ui.wizard.uddi.PublicUDDIRegistryIBMTest"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.uddi.PublicUDDIRegistryIBMTest">
      </publicUDDIRegistryType>
   </extension>

   <extension
         point="org.eclipse.jst.ws.consumption.ui.publicUDDIRegistryType">
      <publicUDDIRegistryType
            name="%PUBLICUDDIREGISTRYTYPE_NAME_IBM"
            class="org.eclipse.jst.ws.internal.consumption.ui.wizard.uddi.PublicUDDIRegistryIBM"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.uddi.PublicUDDIRegistryIBM">
      </publicUDDIRegistryType>
   </extension>

   <extension
         point="org.eclipse.jst.ws.consumption.ui.publicUDDIRegistryType">
      <publicUDDIRegistryType
            name="%PUBLICUDDIREGISTRYTYPE_NAME_MICROSOFT_TEST"
            class="org.eclipse.jst.ws.internal.consumption.ui.wizard.uddi.PublicUDDIRegistryMicrosoftTest"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.uddi.PublicUDDIRegistryMicrosoftTest">
      </publicUDDIRegistryType>
   </extension>

   <extension
         point="org.eclipse.jst.ws.consumption.ui.publicUDDIRegistryType">
      <publicUDDIRegistryType
            name="%PUBLICUDDIREGISTRYTYPE_NAME_MICROSOFT"
            class="org.eclipse.jst.ws.internal.consumption.ui.wizard.uddi.PublicUDDIRegistryMicrosoft"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.uddi.PublicUDDIRegistryMicrosoft">
      </publicUDDIRegistryType>
   </extension>

   <extension
         point="org.eclipse.jst.ws.consumption.ui.publicUDDIRegistryType">
      <publicUDDIRegistryType
            name="%PUBLICUDDIREGISTRYTYPE_NAME_SAP_TEST"
            class="org.eclipse.jst.ws.internal.consumption.ui.wizard.uddi.PublicUDDIRegistrySAPTest"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.uddi.PublicUDDIRegistrySAPTest">
      </publicUDDIRegistryType>
   </extension>

   <extension
         point="org.eclipse.jst.ws.consumption.ui.publicUDDIRegistryType">
      <publicUDDIRegistryType
            name="%PUBLICUDDIREGISTRYTYPE_NAME_SAP"
            class="org.eclipse.jst.ws.internal.consumption.ui.wizard.uddi.PublicUDDIRegistrySAP"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.uddi.PublicUDDIRegistrySAP">
      </publicUDDIRegistryType>
   </extension>

   <extension
         point="org.eclipse.jst.ws.consumption.ui.publicUDDIRegistryType">
      <publicUDDIRegistryType
            name="%PUBLICUDDIREGISTRYTYPE_NAME_XMETHODS"
            class="org.eclipse.jst.ws.internal.consumption.ui.wizard.uddi.PublicUDDIRegistryXMethods"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.uddi.PublicUDDIRegistryXMethods">
      </publicUDDIRegistryType>
   </extension>

   <extension
         point="org.eclipse.jst.ws.consumption.ui.publicUDDIRegistryType">
      <publicUDDIRegistryType
            name="%PUBLICUDDIREGISTRYTYPE_NAME_NTTCOMM"
            class="org.eclipse.jst.ws.internal.consumption.ui.wizard.uddi.PublicUDDIRegistryNTTComm"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.uddi.PublicUDDIRegistryNTTComm">
      </publicUDDIRegistryType>
   </extension>

   <!-- Test Facilities -->
   
   <extension
         point="org.eclipse.jst.ws.consumption.ui.webServiceTest">

      <webServiceTest
            methodsneeded="true"
            name="%SAMPLE_TYPE_WEBSERVICES_ID"
            java="true"
            codegen="true"
            class="org.eclipse.jst.ws.internal.consumption.ui.widgets.test.wssample.WebServiceWSSampleExecutable"
            id="org.eclipse.jst.ws.internal.consumption.ui.widgets.test.WebServiceSampleTest">
      </webServiceTest>

      <webServiceTest
            methodsneeded="false"
            name="%WSEXPLORER_ID"
            java="false"
            codegen="false"
            class="org.eclipse.jst.ws.internal.consumption.ui.widgets.test.explorer.WebServiceExplorerExecutable"
            id="org.eclipse.jst.ws.internal.consumption.ui.widgets.test.explorer.WebServiceExplorerExecutable">
      </webServiceTest>

   </extension>

   <!-- Java Beans -->

   <extension
         point="org.eclipse.jst.ws.consumption.ui.webServiceServerRuntimeType">

      <webServiceType
            label="%WEBSERVICETYPE_NAME_JAVA"
            resourceTypeMetadata="File IResource CompilationUnit"
            extensionMetadata=".java .class"
            objectSelectionWidget="org.eclipse.jst.ws.internal.consumption.ui.widgets.object.JavaBeanSelectionWidget"
            includeNatures="org.eclipse.jst.j2ee.web.WebNature"
            excludeNatures=""
            id="org.eclipse.jst.ws.type.java">
      </webServiceType>

      <webServiceType
            label="%WEBSERVICETYPE_NAME_WSDL"
            resourceTypeMetadata="File IResource String ServiceImpl ServiceRefImpl WSDLResourceImpl"
            extensionMetadata=".wsdl .wsil .html .ServiceImpl .ServiceRefImpl .WSDLResourceImpl"
            objectSelectionWidget="org.eclipse.jst.ws.internal.consumption.ui.widgets.object.WSDLSelectionWidget"
            includeNatures="org.eclipse.jst.j2ee.web.WebNature"
            excludeNatures=""            
            id="org.eclipse.jst.ws.type.wsdl">
      </webServiceType>

   </extension>

   <!-- Dynamic Wizards -->

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            name="%PLUGIN_NEW_WIZARD_NAME_WS_CLIENT"
            icon="icons/full/ctool16/newclient_webserv_wiz.gif"
            category="org.eclipse.jst.ws.ui.new"
            class="org.eclipse.wst.command.env.ui.widgets.DynamicWizard"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.client.clientwizard">
         <description>
               %PLUGIN_NEW_WIZARD_DESC_WS_CLIENT
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>

   <extension
         point="org.eclipse.wst.command.env.dynamicWizard">
      <dynamicWizard
            iconbanner="icons/full/wizban/webservicesclient_wiz.gif"
            class="org.eclipse.jst.ws.internal.consumption.ui.widgets.binding.ClientWidgetBinding"
            title="%WIZARD_TITLE_WSC"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.client.clientwizard">
      </dynamicWizard>
   </extension>

   <extension
         point="org.eclipse.wst.command.env.dynamicWizard">
      <dynamicWizard
            iconbanner="icons/gen_sample_wiz.gif"
            class="org.eclipse.jst.ws.internal.consumption.ui.widgets.binding.GenSampleWidgetBinding"
            title="%WIZARD_TITLE_WSC"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.client.gensamplewizard">
      </dynamicWizard>
   </extension>

   <extension
         point="org.eclipse.wst.command.env.dynamicWizard">
      <dynamicWizard
            iconbanner="icons/config_handler_wiz.gif"
            class="org.eclipse.jst.ws.internal.consumption.ui.widgets.binding.ConfigServiceHandlersWidgetBinding"
            title="%LABEL_HANDLERS_CONFIG"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.handlers.service">
      </dynamicWizard>
   </extension>

   <extension
         point="org.eclipse.wst.command.env.dynamicWizard">
      <dynamicWizard
            iconbanner="icons/config_handler_wiz.gif"
            class="org.eclipse.jst.ws.internal.consumption.ui.widgets.binding.ConfigClientHandlersWidgetBinding"
            title="%LABEL_HANDLERS_CONFIG"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.handlers.client">
      </dynamicWizard>
   </extension>

   <extension
         point="org.eclipse.wst.command.env.dynamicWizard">
      <dynamicWizard
            iconbanner="icons/config_handler_wiz.gif"
            class="org.eclipse.jst.ws.internal.consumption.ui.widgets.binding.ConfigureHandlersWidgetBinding"
            title="%LABEL_HANDLERS_CONFIG"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.handlers">
      </dynamicWizard>
   </extension>   

   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            name="%PLUGIN_IMPORT_WIZARD_NAME_WS"
            icon="icons/import_ws.gif"
            class="org.eclipse.wst.command.env.ui.widgets.DynamicWizard"
            id="wsimport">
         <description>
               %PLUGIN_IMPORT_WIZARD_DESC_WS
         </description>
      </wizard>
   </extension>

   <extension
         point="org.eclipse.wst.command.env.dynamicWizard">
      <dynamicWizard
            iconbanner="icons/import_ws_wiz.gif"
            name="%PLUGIN_IMPORT_WIZARD_NAME_WS"
            class="org.eclipse.jst.ws.internal.consumption.ui.widgets.binding.ImportWSWidgetBinding"
            id="wsimport">
      </dynamicWizard>
   </extension>

   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            name="%IMPORT_WIZARD_NAME_WSIL"
            icon="icons/wsil/import_wsil.gif"
            class="org.eclipse.wst.command.env.ui.widgets.DynamicWizard"
            id="wsilimport">
         <description>
               %IMPORT_WIZARD_DESC_WSIL
         </description>
      </wizard>
   </extension>

   <extension
         point="org.eclipse.wst.command.env.dynamicWizard">
      <dynamicWizard
            iconbanner="icons/wsil/import_wiz_banner_wsil.gif"
            name="%IMPORT_WIZARD_NAME_WSIL"
            class="org.eclipse.jst.ws.internal.consumption.ui.widgets.binding.ImportWSILWidgetBinding"
            id="wsilimport">
      </dynamicWizard>
   </extension>

   <!-- Preference Pages -->

   <extension
         point="org.eclipse.ui.preferencePages">

      <page
            name="%PREFERENCE_CATEGORY_SERVER_RUNTIME"
            category="org.eclipse.jst.ws.internal.ui.preferences.name"
            class="org.eclipse.jst.ws.internal.consumption.ui.preferences.ServerRuntimePreferencePage"
            id="org.eclipse.jst.ws.internal.consumption.ui.preferences.ServerRuntimePreferencePage">            
      </page>
      
      <page
            name="%PREFERENCE_CATEGORY_DIALOGS"
            category="org.eclipse.jst.ws.internal.ui.preferences.name"
            class="org.eclipse.wst.command.internal.env.ui.preferences.ActionDialogsPreferencePage"
            id="org.eclipse.jst.wss.popup.category">
      </page>

      <page
            name="%PREFERENCE_CATEGORY_TEST_FACILITY"
            category="org.eclipse.jst.ws.internal.ui.preferences.name"
            class="org.eclipse.jst.ws.internal.ui.preferences.ScenarioDefaultsPreferencePage"
            id="org.eclipse.jst.ws.internal.ui.preferences.ScenarioDefaultsPreferencePage">
      </page>

      <page
            name="%PREFERENCE_CATEGORY_PROJECT_TOPOLOGY"
            category="org.eclipse.jst.ws.internal.ui.preferences.name"
            class="org.eclipse.jst.ws.internal.ui.preferences.ProjectTopologyPreferencePage"
            id="org.eclipse.jst.ws.internal.ui.preferences.ProjectTopologyPreferencePage">
      </page>
      
   </extension>

   <!-- Main Menu Actions -->

   <extension point="org.eclipse.ui.actionSets">

      <actionSet
            label="%COMMAND_LAUNCH_WS_EXPLORER"
            visible="true"
            id="org.eclipse.jst.ws.consumption">
         <menu
               label="%MENU_RUN"
               path="additions"
               id="org.eclipse.ui.run">
            <separator name="explorer">
            </separator>
         </menu>
         <action
               label="%COMMAND_LAUNCH_WS_EXPLORER"
               icon="icons/registry.gif"
               tooltip="%TOOLTIP_LAUNCH_WS_EXPLORER"
               class="org.eclipse.jst.ws.internal.consumption.ui.action.LaunchWSEAction"
               menubarPath="org.eclipse.ui.run/explorer"
               toolbarPath="additions"
               id="org.eclipse.jst.ws.internal.consumption.ui.action.LaunchWSEAction">
        </action>
     </actionSet>

   </extension>

   <!-- "Don't Show Me" Extensions -->

   <extension
         point="org.eclipse.wst.command.env.actionDialogPreferenceType">

      <actionDialogPreferenceType
            showcheckbox="true"
            name="%CHECKBOX_SHOW_GENERATE_JAVA_PROXY_DIALOG"
            category="org.eclipse.jst.wss.popup.category"
            tooltip="%TOOLTIP_PPAD_CHECKBOX_WSDL2PROXY"
            infopop="org.eclipse.jst.ws.consumption.ui.PPAD0004"
            alwayshide="false"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.client.clientwizard">
      </actionDialogPreferenceType>

      <actionDialogPreferenceType
            name="%CHECKBOX_SHOW_PROXY2SAMPLE_DIALOG"
            category="org.eclipse.jst.wss.popup.category"
            tooltip="%TOOLTIP_PPAD_CHECKBOX_PROXY2SAMPLE"
            infopop="org.eclipse.jst.ws.consumption.ui.PPAD0005"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.client.gensamplewizard">
      </actionDialogPreferenceType>

      <actionDialogPreferenceType
            showcheckbox="false"
            alwayshide="false"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.client.genwsil">
      </actionDialogPreferenceType>

      <actionDialogPreferenceType
            showcheckbox="false"
            alwayshide="false"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.handlers.editor">
      </actionDialogPreferenceType>

   </extension>

   <!-- Popups -->

   <extension
         point="org.eclipse.ui.popupMenus">

      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.wsdl"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.client.genwsil">
         <action
               label="%POPUP_GENERATE_WSIL"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="org.eclipse.jst.ws.atk.ui.webservice.category.popupMenu/popupActions"
               id="wsilimport">
         </action>
      </objectContribution>

      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.wsdl"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.client.clientwizard">
         <action
               label="%ACTION_GENERATE_JAVA_PROXY"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="org.eclipse.jst.ws.atk.ui.webservice.category.popupMenu/popupActions"
               id="org.eclipse.jst.ws.internal.consumption.ui.wizard.client.clientwizard">
         </action>
      </objectContribution>

      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.wsil"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.client.clientwizard">
         <action
               label="%ACTION_GENERATE_JAVA_PROXY"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="org.eclipse.jst.ws.atk.ui.webservice.category.popupMenu/popupActions"
               id="org.eclipse.jst.ws.internal.consumption.ui.wizard.client.clientwizard">
         </action>
      </objectContribution>

      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.java"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.client.gensamplewizard">
         <action
               label="%ACTION_GEN_SAMPLE"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="org.eclipse.jst.ws.atk.ui.webservice.category.popupMenu/popupActions"
               id="org.eclipse.jst.ws.internal.consumption.ui.wizard.client.gensamplewizard">
         </action>
      </objectContribution>

      <objectContribution
            objectClass="org.eclipse.jdt.internal.core.CompilationUnit"
            nameFilter="*.java"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.client.gensamplewizard">
         <action
               label="%ACTION_GEN_SAMPLE"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="org.eclipse.jst.ws.atk.ui.webservice.category.popupMenu/popupActions"
               id="org.eclipse.jst.ws.internal.consumption.ui.wizard.client.gensamplewizard">
         </action>
      </objectContribution>

      <objectContribution
            objectClass="org.eclipse.wst.wsdl.Service"
            nameFilter="*"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.client.clientwizard">
         <action
               label="%ACTION_GENERATE_JAVA_PROXY"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="additions"
               id="org.eclipse.jst.ws.internal.consumption.ui.wizard.client.clientwizard">
         </action>
      </objectContribution>

      <objectContribution
            objectClass="org.eclipse.wst.wsdl.Service"
            nameFilter="*"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.client.genwsil">
         <action
               label="%POPUP_GENERATE_WSIL"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="additions"
               id="wsilimport">
         </action>
      </objectContribution>

      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="webservices.xml"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.handlers.editor">
         <action
               label="%POPUP_ADD_HANDLERS"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="org.eclipse.jst.ws.atk.ui.webservice.category.popupMenu/popupActions"
               id="org.eclipse.jst.ws.internal.consumption.ui.wizard.handlers.service">
         </action>
      </objectContribution>

      <objectContribution
            objectClass="org.eclipse.wst.wsdl.Service"
            nameFilter="*"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.handlers.editor">
         <action
               label="%POPUP_ADD_HANDLERS"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="additions"
               id="org.eclipse.jst.ws.internal.consumption.ui.wizard.handlers.service">
         </action>
      </objectContribution>   

      <objectContribution
            objectClass="org.eclipse.jst.j2ee.internal.webservice.WebServiceNavigatorGroupType"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.handlers.editor">
         <action
               label="%POPUP_ADD_HANDLERS"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="additions"
               id="org.eclipse.jst.ws.internal.consumption.ui.wizard.handlers">
         </action>
         <visibility>
			<objectState
                  name="type"
                  value="Handlers">
            </objectState>
         </visibility>
      </objectContribution>     

      <objectContribution
            objectClass="org.eclipse.wst.wsdl.internal.util.WSDLResourceImpl"
            nameFilter="*"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.handlers.editor">
         <action
               label="%POPUP_ADD_HANDLERS"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="additions"
               id="org.eclipse.jst.ws.internal.consumption.ui.wizard.handlers.service">
         </action>
      </objectContribution>            

      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="webservicesclient.xml"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.handlers.editor">
         <action
               label="%POPUP_ADD_HANDLERS"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="org.eclipse.jst.ws.atk.ui.webservice.category.popupMenu/popupActions"
               id="org.eclipse.jst.ws.internal.consumption.ui.wizard.handlers.client">
         </action>
      </objectContribution>

      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="ejb-jar.xml"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.handlers.editor">
         <action
               label="%POPUP_ADD_HANDLERS"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="org.eclipse.jst.ws.atk.ui.webservice.category.popupMenu/popupActions"
               id="org.eclipse.jst.ws.internal.consumption.ui.wizard.handlers.client">
         </action>
      </objectContribution>    

      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="web.xml"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.handlers.editor">
         <action
               label="%POPUP_ADD_HANDLERS"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="org.eclipse.jst.ws.atk.ui.webservice.category.popupMenu/popupActions"
               id="org.eclipse.jst.ws.internal.consumption.ui.wizard.handlers.client">
         </action>
      </objectContribution>  

      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="application-client.xml"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.handlers.editor">
         <action
               label="%POPUP_ADD_HANDLERS"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="org.eclipse.jst.ws.atk.ui.webservice.category.popupMenu/popupActions"
               id="org.eclipse.jst.ws.internal.consumption.ui.wizard.handlers.client">
         </action>
      </objectContribution> 

      <objectContribution
            objectClass="org.eclipse.jst.j2ee.webservice.wsclient.ServiceRef"
            nameFilter="*"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.handlers.editor">
         <action
               label="%POPUP_ADD_HANDLERS"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="additions"
               id="org.eclipse.jst.ws.internal.consumption.ui.wizard.handlers.client">
         </action>
      </objectContribution>      
      
      <objectContribution
            objectClass="org.eclipse.wst.wsdl.internal.util.WSDLResourceImpl"
            nameFilter="*"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.client.clientwizard">
         <action
               label="%ACTION_GENERATE_JAVA_PROXY"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="additions"
               id="org.eclipse.jst.ws.internal.consumption.ui.wizard.client.clientwizard">
         </action>
      </objectContribution>

      <objectContribution
            objectClass="org.eclipse.jst.j2ee.webservice.wsclient.ServiceRef"
            nameFilter="*"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.client.clientwizard">
         <action
               label="%ACTION_GENERATE_JAVA_PROXY"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="additions"
               id="org.eclipse.jst.ws.internal.consumption.ui.wizard.client.clientwizard">
         </action>
      </objectContribution>

      <objectContribution
            objectClass="org.eclipse.wst.wsdl.internal.util.WSDLResourceImpl"
            nameFilter="*"
            id="org.eclipse.jst.ws.internal.consumption.ui.wizard.client.genwsil">
         <action
               label="%POPUP_GENERATE_WSIL"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="additions"
               id="wsilimport">
         </action>
      </objectContribution>

      <objectContribution
         objectClass="org.eclipse.jst.j2ee.webservice.wsclient.ServiceRef"
         nameFilter="*"
         id="org.eclipse.jst.ws.internal.consumption.ui.wizard.client.genwsil">
         <action
            label="%POPUP_GENERATE_WSIL"
            class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
            menubarPath="additions"
            id="wsilimport">
         </action>
      </objectContribution>

   </extension>

   <!-- Client Project Types -->

   <extension
         point="org.eclipse.jst.ws.consumption.ui.clientProjectType">
      <clientProjectType
            include="org.eclipse.jst.j2ee.web.WebNature"
            exclude=""
            label="%LABEL_CLIENT_TYPE_WEB"
            id="org.eclipse.jst.ws.consumption.ui.clientProjectType.Web">
      </clientProjectType>
   </extension>

   <extension
         point="org.eclipse.jst.ws.consumption.ui.clientProjectType">
      <clientProjectType
            include="org.eclipse.jdt.core.javanature"
            exclude="org.eclipse.jst.j2ee.web.WebNature org.eclipse.jst.j2ee.ejb.EJBNature org.eclipse.jst.j2ee.ApplicationClientNature"
            label="%LABEL_CLIENT_TYPE_CONTAINERLESS"
            id="org.eclipse.jst.ws.consumption.ui.clientProjectType.Containerless">
      </clientProjectType>
   </extension>

   <extension
         point="org.eclipse.jst.ws.consumption.ui.clientProjectType">
      <clientProjectType
            include="org.eclipse.jst.j2ee.ejb.EJBNature"
            exclude=""
            label="%LABEL_CLIENT_TYPE_EJB"
            id="org.eclipse.jst.ws.consumption.ui.clientProjectType.EJB">
      </clientProjectType>
   </extension>

   <extension
         point="org.eclipse.jst.ws.consumption.ui.clientProjectType">
      <clientProjectType
            include="org.eclipse.jst.j2ee.ApplicationClientNature"
            exclude=""
            label="%LABEL_CLIENT_TYPE_APP_CLIENT"
            id="org.eclipse.jst.ws.consumption.ui.clientProjectType.AppClient">
      </clientProjectType>
   </extension>

   <!-- Object Selection Widgets -->

   <extension
         point="org.eclipse.jst.ws.consumption.ui.objectSelectionWidget">
      <objectSelectionWidget
            class="org.eclipse.jst.ws.internal.consumption.ui.widgets.object.JavaBeanSelectionWidget"
            transformer="org.eclipse.jst.ws.internal.consumption.ui.widgets.object.JavaBeanSelectionTransformer"
            id="org.eclipse.jst.ws.internal.consumption.ui.widgets.object.JavaBeanSelectionWidget">
      </objectSelectionWidget>
   </extension>

   <extension
         point="org.eclipse.jst.ws.consumption.ui.objectSelectionWidget">
      <objectSelectionWidget
            class="org.eclipse.jst.ws.internal.consumption.ui.widgets.object.EJBSelectionWidget"
            id="org.eclipse.jst.ws.internal.consumption.ui.widgets.object.EJBSelectionWidget">
      </objectSelectionWidget>
   </extension>

   <extension
         point="org.eclipse.jst.ws.consumption.ui.objectSelectionWidget">
      <objectSelectionWidget
            class="org.eclipse.jst.ws.internal.consumption.ui.widgets.object.WSDLSelectionWidget"
            transformer="org.eclipse.jst.ws.internal.consumption.ui.widgets.object.WSDLSelectionTransformer"
            id="org.eclipse.jst.ws.internal.consumption.ui.widgets.object.WSDLSelectionWidget">
      </objectSelectionWidget>
   </extension>

</plugin>
