<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

     <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%PLUGIN_NEW_CATEGORY_NAME_WS"
            id="org.eclipse.jst.ws.ui.new">
      </category>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      
      <page
            name="%PREFERENCE_CATEGORY_RESOURCE_MANAGEMENT"
            category="org.eclipse.wst.ws.internal.ui.preferences.name"
            class="org.eclipse.jst.ws.internal.ui.preferences.ResourceManagmentPreferencePage"
            id="org.eclipse.jst.ws.internal.ui.preferences.ResourceManagmentPreferencePage">
      </page>

   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">

      

   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">

      <objectContribution
            objectClass="org.eclipse.jst.j2ee.ejb.EnterpriseBean"
            adaptable="true"
            id="org.eclipse.jst.ws.atk.ui.webservice.category.ejb.popupMenu">
         <menu
               label="%LABEL_POPUP_CATEGORY_WEB_SERVICES"
               path="additions"
               id="org.eclipse.jst.ws.atk.ui.webservice.category.ejb.popupMenu">
            <separator
                  name="popupActions">
            </separator>
         </menu>
      </objectContribution>
      

      <objectContribution
            objectClass="org.eclipse.jst.j2ee.webservice.wsclient.ServiceRef"
            nameFilter="*"
            id="org.eclipse.jst.ws.internal.consumption.ui.action.WSDLFileMenu"
            adaptable="true">
         <action
               label="%POPUP_TEST_WSDL"
               class="org.eclipse.jst.ws.internal.ui.popup.PopupTestService"
               menubarPath="additions"
               id="org.eclipse.jst.ws.internal.ui.popup.PopupTestService">
         </action>
      </objectContribution>
   </extension>
   
</plugin>
