<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.jst.ws.annotations.core.annotationCategory">
      <category
            id="jaxws.category"
            name="%JAXWS_CATEGORY_NAME">
      </category>
   </extension>

   <extension point="org.eclipse.jst.ws.annotations.core.annotationDefinition">
      <annotation
            category="jaxws.category"
            class="javax.jws.WebService"
            name="WebService">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.jws.WebMethod"
            name="WebMethod">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.jws.WebParam"
            name="WebParam">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.jws.WebResult"
            name="WebResult">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.jws.HandlerChain"
            name="HandlerChain">
         <targetFilter target="FIELD"/>
         <targetFilter target="METHOD"/>
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.jws.Oneway"
            name="Oneway">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.jws.soap.SOAPBinding"
            name="SOAPBinding">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.WebServiceProvider"
            name="WebServiceProvider"
            restrictedTo="CLASS_ONLY">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.WebServiceClient"
            name="WebServiceClient"
            restrictedTo="CLASS_ONLY">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.WebServiceRef"
            name="WebServiceRef"
            restrictedTo="CLASS_ONLY">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.WebServiceRefs"
            name="WebServiceRefs"
            restrictedTo="CLASS_ONLY">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.ServiceMode"
            name="ServiceMode"
            restrictedTo="CLASS_ONLY">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.WebFault"
            name="WebFault"
            restrictedTo="CLASS_ONLY">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.BindingType"
            name="BindingType"
            restrictedTo="CLASS_ONLY">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.RequestWrapper"
            name="RequestWrapper">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.ResponseWrapper"
            name="ResponseWrapper">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.WebEndpoint"
            name="WebEndpoint"
            restrictedTo="CLASS_ONLY">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.RespectBinding"
            name="RespectBinding"
            restrictedTo="CLASS_ONLY">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.soap.Addressing"
            name="Addressing"
            restrictedTo="CLASS_ONLY">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.soap.MTOM"
            name="MTOM"
            restrictedTo="CLASS_ONLY">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.FaultAction"
            name="FaultAction">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.Action"
            name="Action">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.spi.WebServiceFeatureAnnotation"
            name="WebServiceFeatureAnnotation">
      </annotation>
   </extension>
   
   <extension point="org.eclipse.jst.ws.annotations.core.annotationInitializer">
      <initializer
            annotation="javax.jws.WebService"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.initialization.WebServiceAttributeInitializer">
      </initializer>
      <initializer
            annotation="javax.jws.WebMethod"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.initialization.WebMethodAttributeInitializer">
      </initializer>
      <initializer
            annotation="javax.jws.WebParam"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.initialization.WebParamAttributeInitializer">
      </initializer>
      <initializer
            annotation="javax.jws.WebResult"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.initialization.WebResultAttributeInitializer">
      </initializer>
      <initializer
            annotation="javax.jws.soap.SOAPBinding"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.initialization.SOAPBindingAttributeInitializer">
      </initializer>      
      <initializer
            annotation="javax.xml.ws.RequestWrapper"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.initialization.RequestWrapperAttributeInitializer">
      </initializer>
      <initializer
            annotation="javax.xml.ws.ResponseWrapper"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.initialization.ResponseWrapperAttributeInitializer">
      </initializer>
   </extension>
   
   <extension point="org.eclipse.jst.ws.annotations.core.annotationProcessor">
      <processor
            annotation="javax.jws.WebService"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.validation.HolderTypeParametersRule">
         <description>
            %HOLDER_TYPES_PARAMETERS_RULE
         </description>
      </processor>
      <processor
            annotation="javax.jws.WebService"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.validation.UniqueNamesRule">
         <description>
            %UNIQUE_NAMES_RULE
         </description>
      </processor>
      <processor
            annotation="javax.jws.WebService"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.validation.WebServiceDefaultPublicConstructorRule">
         <description>
            %WEBSERVICE_CLASS_DEFAULT_PUBLIC_CONSTRUCTOR_RULE
         </description>
      </processor>
      <processor
            annotation="javax.jws.WebService"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.validation.WebServicePublicAbstractFinalRule">
         <description>
            %WEBSERVICE_CLASS_PUBLIC_ABSTRACT_FINAL_RULE
         </description>
      </processor>
      <processor
            annotation="javax.jws.WebService"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.validation.WebServiceNoFinalizeMethodRule">
         <description>
            %WEBSERVICE_CLASS_NO_FINALIZE_METHOD_RULE
         </description>
      </processor>
      <processor
            annotation="javax.jws.WebService"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.validation.WebServiceSEIRestrictionsRule">
         <description>
            %WEBSERVICE_SEI_NO_WEBMETHOS_RULE
         </description>
      </processor>
      <processor
            annotation="javax.jws.WebService"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.validation.WebServiceSEIAllowedAttributesRule">
         <description>
            %WEBSERVICE_ON_SEI_ATTRIBUTES_RULE
         </description>
      </processor>
      <processor
            annotation="javax.jws.WebService"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.validation.WebServiceWebServiceProviderCoExistRule">
         <description>
         	%WEBSERVICE_WEBSERVICE_PROVIDER_COEXIST_RULE
         </description>
      </processor>
      <processor
            annotation="javax.jws.WebMethod"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.validation.WebMethodCheckForWebServiceRule">
         <description>
            %WEBMETHOD_ONLY_SUPPORTED_ON_CLASSES_WITH_WEBSERVICE_ANNNOTATION
         </description>
      </processor>
      <processor
            annotation="javax.jws.WebMethod"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.validation.WebMethodPublicStaticFinalRule">
         <description>
            %WEBMETHOD_ONLY_PUBLIC_METHODS
         </description>
      </processor>
      <processor
            annotation="javax.jws.WebMethod"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.validation.WebMethodExcludeRules">
         <description>
            %WEBMETHOD_EXCLUDE_SPECIFIED_RULE
         </description>
      </processor>
      <processor
            annotation="javax.jws.Oneway"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.validation.OnewayRules">
         <description>
            %ONEWAY_NO_RETURN_VALUE
         </description>
      </processor>
      <processor
            annotation="javax.jws.soap.SOAPBinding"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.validation.SOAPBindingMethodStyleDocumentRule">
         <description>
            %SOAPBINDING_METHOD_STYLE_DOCUMENT_RULE
         </description>
      </processor>
      <processor
            annotation="javax.jws.soap.SOAPBinding"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.validation.SOAPBindingMethodUseRule">
         <description>
            %SOAPBINDING_NO_PARAMETERSTYLE_WHEN_ENCODED_RULE
         </description>
      </processor>
      <processor
            annotation="javax.jws.soap.SOAPBinding"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.validation.SOAPBindingDocumentBareRules">
         <description>
            %SOAPBINDING_DOCUMENT_BARE_RULES
         </description>
      </processor>
      <processor
            annotation="javax.jws.HandlerChain"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.validation.HandlerChainRules">
         <description>
            %HANDLERCHAIN_RULES
         </description>
      </processor>     
      <processor
            annotation="javax.xml.ws.WebServiceRefs"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.validation.WebServiceRefsRules">
         <description>
            %WEBSERVICEREFS_RULES
         </description>
      </processor>
      <processor
            annotation="javax.jws.WebService"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.validation.WebServiceTargetNamespaceRule">
         <description>
            %WEBSERVICE_TARGET_NAMESPACE_RULE
         </description>
      </processor>     
      <processor
            annotation="javax.jws.WebService"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.validation.WebServiceWSDLLocationRule">
         <description>
            %WEBSERVICE_WSDL_LOCATION_RULE
         </description>
      </processor>
   </extension>

</plugin>
