<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.jst.ws.annotations.core.annotationCategory">
      <category
            id="jaxws.category"
            name="%JAXWS_CATEGORY_NAME">
      </category>
   </extension>

   <extension point="org.eclipse.jst.ws.annotations.core.annotationDefinition">
      <annotation
            category="jaxws.category"
            class="javax.jws.WebService"
            name="WebService">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.jws.WebMethod"
            name="WebMethod">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.jws.WebParam"
            name="WebParam">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.jws.WebResult"
            name="WebResult">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.jws.HandlerChain"
            name="HandlerChain">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.jws.Oneway"
            name="Oneway">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.jws.soap.SOAPMessageHandler"
            name="SOAPMessageHandler">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.jws.soap.SOAPMessageHandlers"
            name="SOAPMessageHandlers">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.jws.soap.SOAPBinding"
            name="SOAPBinding">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.WebServiceProvider"
            name="WebServiceProvider"
            restrictedTo="CLASS_ONLY">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.WebServiceClient"
            name="WebServiceClient"
            restrictedTo="CLASS_ONLY">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.WebServiceRef"
            name="WebServiceRef">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.WebServiceRefs"
            name="WebServiceRefs">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.ServiceMode"
            name="ServiceMode">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.WebFault"
            name="WebFault">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.BindingType"
            name="BindingType"
            restrictedTo="CLASS_ONLY">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.RequestWrapper"
            name="RequestWrapper">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.ResponseWrapper"
            name="ResponseWrapper">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.WebEndpoint"
            name="WebEndpoint"
            restrictedTo="CLASS_ONLY">
    <!--  </annotation>
            <annotation
            category="jaxws.category"
            class="javax.xml.ws.RespectBinding"
            name="RespectBinding"
            restrictedTo="CLASS_ONLY">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.soap.Addressing"
            name="Addressing">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.soap.MTOM"
            name="MTOM">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.FaultAction"
            name="FaultAction">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.Action"
            name="Action">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.spi.WebServiceFeatureAnnotation"
            name="WebServiceFeatureAnnotation"> -->
      </annotation>
   </extension>
   
   <extension point="org.eclipse.jst.ws.annotations.core.annotationInitializer">
      <initializer
            annotation="javax.jws.WebService"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.initialization.WebServiceAttributeInitializer">
      </initializer>
      <initializer
            annotation="javax.jws.WebMethod"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.initialization.WebMethodAttributeInitializer">
      </initializer>
      <initializer
            annotation="javax.jws.WebParam"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.initialization.WebParamAttributeInitializer">
      </initializer>
      <initializer
            annotation="javax.xml.ws.RequestWrapper"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.initialization.RequestWrapperAttributeInitializer">
      </initializer>
      <initializer
            annotation="javax.xml.ws.ResponseWrapper"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.initialization.ResponseWrapperAttributeInitializer">
      </initializer>
   </extension>
   
   <extension point="org.eclipse.jst.ws.annotations.core.annotationProcessor">
      <processor
            annotation="javax.jws.WebService"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.validation.WebServiceSEIPresentNoWebMethodRule">
         <description>
            %WEBSERVICE_SEI_NO_WEBMETHOS_RULE
         </description>
      </processor>
      <processor
            annotation="javax.jws.WebService"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.validation.WebServiceSEIAllowedAttributesRule">
         <description>
            %WEBSERVICE_ON_SEI_ATTRIBUTES_RULE
         </description>
      </processor>
      <processor
            annotation="javax.jws.WebService"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.validation.WebServiceWebServiceProviderCoExistRule">
         <description>
         	%WEBSERVICE_WEBSERVICE_PROVIDER_COEXIST_RULE
         </description>
      </processor>
      <processor
            annotation="javax.jws.WebMethod"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.validation.WebMethodPublicMethodsOnlyRule">
         <description>
            %WEBMETHOD_ONLY_PUBLIC_METHODS
         </description>
      </processor>
      <processor
            annotation="javax.jws.Oneway"
            class="org.eclipse.jst.ws.internal.jaxws.core.annotations.validation.OnewayNoReturnValueRule">
         <description>
            %ONEWAY_NO_RETURN_VALUE
         </description>
      </processor>
   </extension>

</plugin>
