<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="annotationCategory" name="Annotation Category" schema="schema/annotationCategory.exsd"/>
   <extension-point id="annotationDefinition" name="Annotation Definition" schema="schema/annotationDefinition.exsd"/>

   <extension point="org.eclipse.jst.ws.jaxws.core.annotationCategory">
      <category
            id="jaxws.category"
            name="%JAXWS_CATEGORY_NAME">
      </category>
   </extension>

   <extension point="org.eclipse.jst.ws.jaxws.core.annotationDefinition">
      <annotation
            category="jaxws.category"
            class="javax.jws.WebService"
            initializer="org.eclipse.jst.ws.internal.jaxws.core.annotations.initialization.WebServiceAttributeInitializer"
            name="WebService">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.jws.WebMethod"
            initializer="org.eclipse.jst.ws.internal.jaxws.core.annotations.initialization.WebMethodAttributeInitializer"
            name="WebMethod">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.jws.WebParam"
            initializer="org.eclipse.jst.ws.internal.jaxws.core.annotations.initialization.WebParamAttributeInitializer"
            name="WebParam">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.jws.WebResult"
            name="WebResult">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.jws.HandlerChain"
            name="HandlerChain">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.jws.Oneway"
            name="Oneway">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.jws.soap.SOAPMessageHandler"
            name="SOAPMessageHandler">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.jws.soap.SOAPMessageHandlers"
            name="SOAPMessageHandlers">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.jws.soap.SOAPBinding"
            name="SOAPBinding">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.WebServiceProvider"
            name="WebServiceProvider"
            restrictedTo="CLASS_ONLY">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.WebServiceClient"
            name="WebServiceClient"
            restrictedTo="CLASS_ONLY">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.WebServiceRef"
            name="WebServiceRef">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.WebServiceRefs"
            name="WebServiceRefs">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.ServiceMode"
            name="ServiceMode">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.WebFault"
            name="WebFault">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.RespectBinding"
            name="RespectBinding"
            restrictedTo="CLASS_ONLY">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.BindingType"
            name="BindingType"
            restrictedTo="CLASS_ONLY">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.soap.Addressing"
            name="Addressing">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.soap.MTOM"
            name="MTOM">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.FaultAction"
            name="FaultAction">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.RequestWrapper"
            initializer="org.eclipse.jst.ws.internal.jaxws.core.annotations.initialization.RequestWrapperAttributeInitializer"
            name="RequestWrapper">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.ResponseWrapper"
            initializer="org.eclipse.jst.ws.internal.jaxws.core.annotations.initialization.ResponseWrapperAttributeInitializer"
            name="ResponseWrapper">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.WebEndpoint"
            name="WebEndpoint"
            restrictedTo="CLASS_ONLY">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.Action"
            name="Action">
      </annotation>
      <annotation
            category="jaxws.category"
            class="javax.xml.ws.spi.WebServiceFeatureAnnotation"
            name="WebServiceFeatureAnnotation">
      </annotation>
   </extension>

</plugin>
