<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension-point id="jaxrsSharedLibrarySupport" name="jaxrsSharedLibrarySupport" schema="schema/jaxrsSharedLibrarySupport.exsd"/>
  <extension-point id="jaxrsLibraryProvider" name="jaxrsLibraryProvider" schema="schema/jaxrsLibraryProvider.exsd"/>

  <!-- JAXRS Project Facets -->
	<extension
       id="org.eclipse.jst.ws.jaxrs.project.facet"
       name="JAX-RS (REST Web Services)"
       point="org.eclipse.wst.common.project.facet.core.facets">

    <project-facet id="jst.jaxrs">
      <label>%plugin.facet.label</label>
      <description>%plugin.facet.description</description>
      <default-version
            provider="org.eclipse.jst.ws.jaxrs.core.internal.project.facet.JAXRSFacetDefaultVersionProvider">
      </default-version>
      
    </project-facet>

    <project-facet-version facet="jst.jaxrs" version="1.0">
       <constraint>
        <and>
          <requires facet="jst.web" version="[2.3"/>
          <requires
                facet="jst.java"
                version="[5.0">
          </requires>
          
        </and>
      </constraint>
    </project-facet-version> 

    <project-facet-version facet="jst.jaxrs" version="1.1">
       <constraint>
        <and>
          <requires facet="jst.web" version="[2.3"/>
          <requires
                facet="jst.java"
                version="[5.0">
          </requires>
          
        </and>
      </constraint>
    </project-facet-version> 

    <project-facet-version facet="jst.jaxrs" version="2.0">
       <constraint>
        <and>
          <requires facet="jst.web" version="[3.1"/>
          <requires
                facet="jst.java"
                version="[7.0">
          </requires>
          
        </and>
      </constraint>
    </project-facet-version> 



    <project-facet-version facet="jst.jaxrs" version="2.0">
       <constraint>
        <and>
          <requires facet="jst.web" version="[3.1"/>
          <requires
                facet="jst.java"
                version="[1.7">
          </requires> 
         </and>
      </constraint>
    </project-facet-version> 


    <action id="jst.jaxrs.v10.install" facet="jst.jaxrs" type="INSTALL" version="1.0">
      	<delegate class="org.eclipse.jst.ws.jaxrs.core.internal.project.facet.JAXRSFacetInstallDelegate"/>
        <config-factory class="org.eclipse.jst.ws.jaxrs.core.internal.project.facet.JAXRSFacetInstallDataModelProvider"/>
    </action>  
      
    <action id="jst.jaxrs.v10.uninstall" facet="jst.jaxrs" type="UNINSTALL" version="1.0" >
	 	<config-factory class="org.eclipse.jst.ws.jaxrs.core.internal.project.facet.JAXRSFacetUninstallConfig$Factory"/>
	 	<delegate
        class="org.eclipse.jst.ws.jaxrs.core.internal.project.facet.JAXRSFacetUninstallDelegate"/>
 	</action>
 	<action id="jst.jaxrs.v10.vchange" facet="jst.jaxrs" type="VERSION_CHANGE" version="1.0" >
	 	<delegate
        class="org.eclipse.jst.ws.jaxrs.core.internal.project.facet.JAXRSFacetVersionChangeDelegate"/>
 	</action>
 	
 	
    <action id="jst.jaxrs.v11.install" facet="jst.jaxrs" type="INSTALL" version="1.1">
      	<delegate class="org.eclipse.jst.ws.jaxrs.core.internal.project.facet.JAXRSFacetInstallDelegate"/>
        <config-factory class="org.eclipse.jst.ws.jaxrs.core.internal.project.facet.JAXRSFacetInstallDataModelProvider"/>
    </action>  
      
    <action id="jst.jaxrs.v11.uninstall" facet="jst.jaxrs" type="UNINSTALL" version="1.1" >
	 	<config-factory class="org.eclipse.jst.ws.jaxrs.core.internal.project.facet.JAXRSFacetUninstallConfig$Factory"/>
	 	<delegate
        class="org.eclipse.jst.ws.jaxrs.core.internal.project.facet.JAXRSFacetUninstallDelegate"/>
 	</action>	
 	<action id="jst.jaxrs.v11.vchange" facet="jst.jaxrs" type="VERSION_CHANGE" version="1.1" >
	 	<delegate
        class="org.eclipse.jst.ws.jaxrs.core.internal.project.facet.JAXRSFacetVersionChangeDelegate"/>
 	</action>
 
 
     <action id="jst.jaxrs.v20.install" facet="jst.jaxrs" type="INSTALL" version="[2.0">
      	<delegate class="org.eclipse.jst.ws.jaxrs.core.internal.project.facet.JAXRSFacetInstallDelegate"/>
        <config-factory class="org.eclipse.jst.ws.jaxrs.core.internal.project.facet.JAXRSFacetInstallDataModelProvider"/>
    </action>  
      
    <action id="jst.jaxrs.v20.uninstall" facet="jst.jaxrs" type="UNINSTALL" version="[2.0" >
	 	<config-factory class="org.eclipse.jst.ws.jaxrs.core.internal.project.facet.JAXRSFacetUninstallConfig$Factory"/>
	 	<delegate
        class="org.eclipse.jst.ws.jaxrs.core.internal.project.facet.JAXRSFacetUninstallDelegate"/>
 	</action>	
 	<action id="jst.jaxrs.v20.vchange" facet="jst.jaxrs" type="VERSION_CHANGE" version="[2.0" >
	 	<delegate
        class="org.eclipse.jst.ws.jaxrs.core.internal.project.facet.JAXRSFacetVersionChangeDelegate"/>
 	</action>
 
 
 	
  </extension> 
  
  

  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <supported>
		<runtime-component any="true"/>
        	<facet id="jst.jaxrs" version="1.0"/> 
    </supported>
  </extension>

  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <supported>
		<runtime-component any="true"/>
        	<facet id="jst.jaxrs" version="1.1"/> 
    </supported>
  </extension>    


  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <supported>
		<runtime-component any="true"/>
        	<facet id="jst.jaxrs" version="2.0"/> 
    </supported>
  </extension>    
  
  
  <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
    <classpathContainerInitializer
      class="org.eclipse.jst.ws.jaxrs.core.internal.JAXRSLibrariesContainerInitializer"
      id="org.eclipse.jst.ws.jaxrs.core.internal.jaxrslibrarycontainer"/>
  </extension>
   
   <!--
    ******************************************
    * Library Provider Framework Integration *
    ******************************************
  -->
  
  <extension point="org.eclipse.jst.common.project.facet.core.libraryProviders">
    <provider id="jaxrs-user-library-provider" extends="wtp-user-library-provider">
    <param name="validator" value="org.eclipse.jst.ws.jaxrs.core.internal.project.facet.JAXRSLibraryValidator"/> 
    <param name="validator.param.0" value="javax.ws.rs.Path"/>
      <enablement>
        <with variable="requestingProjectFacet">
          <test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="jst.jaxrs" forcePluginActivation="true"/>
        </with>
      </enablement>
      <action type="INSTALL">
        <config class="org.eclipse.jst.ws.jaxrs.core.internal.project.facet.JAXRSUserLibraryProviderInstallOperationConfig"/>
        <operation class="org.eclipse.jst.ws.jaxrs.core.internal.project.facet.JAXRSUserLibraryProviderInstallOperation"/>
      </action>
    </provider>
  </extension>
  
  <extension point="org.eclipse.jst.common.project.facet.core.libraryProviders">
    <provider id="jaxrs-no-op-library-provider" extends="no-op-library-provider">
      <param name="message" value="%noOpLibraryProviderMessage"/>
      <param name="warning" value="%noOpLibraryProviderWarning"/>
      <enablement>
        <with variable="requestingProjectFacet">
          <test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="jst.jaxrs" forcePluginActivation="true"/>
        </with>
      </enablement>
    </provider>
  </extension>  
  <extension-point id="pluginProvidedJaxrsLibraries" name="pluginProvidedJaxrsLibraries" schema="schema/pluginProvidedJaxrsLibraries.exsd"/>

   
</plugin>
