<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<!--
   <extension-point id="pluginProvidedJaxrsLibraries" name="pluginProvidedJaxrsLibraries" schema="schema/pluginProvidedJaxrsLibraries.exsd"/>
   <extension-point id="jaxrsSharedLibrarySupport" name="jaxrsSharedLibrarySupport" schema="schema/jaxrsSharedLibrarySupport.exsd"/>
-->
  <!-- JAXRS Project Facets -->
	<extension
       id="org.eclipse.jst.ws.jaxrs.project.facet"
       name="JAX-RS (REST Web Services)"
       point="org.eclipse.wst.common.project.facet.core.facets">

    <project-facet id="jst.jaxrs">
      <label>%plugin.facet.label</label>
      <description>%plugin.facet.description</description>
    </project-facet>

    <project-facet-version facet="jst.jaxrs" version="1.0">
       <constraint>
        <and>
          <requires facet="jst.web" version="[2.3"/>
          <requires
                facet="jst.java"
                version="[5.0">
          </requires>
          
        </and>
      </constraint>
    </project-facet-version> 


    <action id="jst.jaxrs.v10.install" facet="jst.jaxrs" type="INSTALL" version="[1.0">
      	<delegate class="org.eclipse.jst.ws.jaxrs.core.internal.project.facet.JAXRSFacetInstallDelegate"/>
        <config-factory class="org.eclipse.jst.ws.jaxrs.core.internal.project.facet.JAXRSFacetInstallDataModelProvider"/>
    </action>  
      
    <action id="jst.jaxrs.v10.uninstall" facet="jst.jaxrs" type="UNINSTALL" version="[1.0" >
	 	<delegate
        class="org.eclipse.jst.ws.jaxrs.core.internal.project.facet.JAXRSFacetUninstallDelegate"/>
 	</action>
	
  </extension> 
  
  

  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <supported>
		<runtime-component any="true"/>
        	<facet id="jst.jaxrs" version="1.0"/> 
    </supported>
  </extension>
    
  
   
   

   
<!--
  <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
    <classpathContainerInitializer
      class="org.eclipse.jst.ws.jaxrs.core.internal.JAXRSLibrariesContainerInitializer"
      id="org.eclipse.jst.ws.jaxrs.core.internal.jaxrslibrarycontainer"/>
  </extension>
-->
</plugin>
