<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <!-- EJB Web Service Types -->
<!--   
   <extension
         point="org.eclipse.jst.ws.consumption.ui.webServiceServerRuntimeType">

      <webServiceType
            label="%WEBSERVICETYPE_NAME_WSDL_EJB_TP"
            resourceTypeMetadata="File IResource"
            extensionMetadata=".wsdl"
            objectSelectionWidget="org.eclipse.jst.ws.internal.consumption.ui.widgets.object.WSDLSelectionWidget"
            includeNatures="org.eclipse.jst.j2ee.ejb.EJBNature"
            excludeNatures=""
            id="org.eclipse.jst.ws.type.wsdl.ejb">
      </webServiceType>

      <webServiceType
		    label="%WEBSERVICETYPE_NAME_EJB_TP"
		    resourceTypeMetadata="EJBObject org.eclipse.jst.j2ee.ejb.EnterpriseBean SessionImpl"
		    extensionMetadata=".java .class .SessionImpl"
		    objectSelectionWidget="org.eclipse.jst.ws.internal.consumption.ui.widgets.object.EJBSelectionWidget"
		    includeNatures="org.eclipse.jst.j2ee.ejb.EJBNature"
		    excludeNatures=""
		    id="org.eclipse.jst.ws.type.ejb">
  	 </webServiceType>
	</extension>
-->

   <!-- Popups -->
      
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jst.j2ee.ejb.EnterpriseBean"
            id="org.eclipse.jst.ws.creation.ui.wizard.serverwizard.java">
         <action
               label="%ACTION_DEPLOY_WEBSERVICE"
               class="org.eclipse.wst.command.internal.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="org.eclipse.jst.ws.atk.ui.webservice.category.ejb.popupMenu/popupActions"
               id="org.eclipse.jst.ws.creation.ui.wizard.serverwizard">
         </action>
      </objectContribution>
   </extension>


<!-- EJB stuff -->
     <extension point="org.eclipse.jst.ws.consumption.ui.wsImpl">
     <webServiceImpl
            id="org.eclipse.jst.ws.wsImpl.ejb"
            label="%WEBSERVICETYPE_NAME_EJB_TP"
            resourceTypeMetadata="EJBObject org.eclipse.jst.j2ee.ejb.EnterpriseBean SessionImpl"
            extensionMetadata=".java .class .SessionImpl"
            objectSelectionWidget="org.eclipse.jst.ws.internal.consumption.ui.widgets.object.EJBSelectionWidget">
     </webServiceImpl>
    </extension>    
    
<extension point="org.eclipse.jst.ws.consumption.ui.serviceType">
  <serviceType
            id="org.eclipse.jst.ws.serviceType.ejb"
            implId="org.eclipse.jst.ws.wsImpl.ejb"
            buModuleTypesInclude="jst.ejb"
            buModuleTypesExclude=""
            tdModuleTypesInclude="jst.ejb"
            tdModuleTypesExclude="">
  </serviceType>
</extension>   

            
   
</plugin>