<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin
   id="org.eclipse.jst.ws.creation.ejb.ui"
   version="1.0.0"
   name="%PLUGIN_NAME"
   provider-name="%PLUGIN_PROVIDER">

   <requires>
      <import plugin="org.eclipse.wst.command.env"/>
      <import plugin="org.eclipse.wst.command.env.ui"/>
      <import plugin="org.eclipse.wst.command.env.core"/>
      <import plugin="org.eclipse.jst.ws"/>
      <import plugin="org.eclipse.jst.ws.consumption"/>
      <import plugin="org.eclipse.jst.ws.ui"/>
      <import plugin="org.eclipse.jst.ws.consumption.ui"/>
      <import plugin="org.eclipse.jst.ws.creation.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.emf.common"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="com.ibm.wtp.emf.workbench"/>
   </requires>

   <!-- EJB Web Service Types -->
   
   <extension
         point="org.eclipse.jst.ws.consumption.ui.webServiceServerRuntimeType">

      <webServiceType
            label="%WEBSERVICETYPE_NAME_WSDL_EJB_TP"
            resourceTypeMetadata="File IResource"
            extensionMetadata=".wsdl"
            objectSelectionWidget="org.eclipse.jst.ws.internal.consumption.ui.widgets.object.WSDLSelectionWidget"
            includeNatures="org.eclipse.jst.j2ee.ejb.EJBNature"
            excludeNatures=""
            id="org.eclipse.jst.ws.type.wsdl.ejb">
      </webServiceType>

      <webServiceType
		    label="%WEBSERVICETYPE_NAME_EJB_TP"
		    resourceTypeMetadata="EJBObject org.eclipse.jst.j2ee.ejb.EnterpriseBean SessionImpl"
		    extensionMetadata=".java .class .SessionImpl"
		    objectSelectionWidget="org.eclipse.jst.ws.internal.consumption.ui.widgets.object.EJBSelectionWidget"
		    includeNatures="org.eclipse.jst.j2ee.ejb.EJBNature"
		    excludeNatures=""
		    id="org.eclipse.jst.ws.type.ejb">
  	 </webServiceType>

	</extension>

   <!-- Popups -->
      
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jst.j2ee.ejb.EnterpriseBean"
            id="org.eclipse.jst.ws.creation.ui.wizard.serverwizard.java">
         <action
               label="%ACTION_DEPLOY_WEBSERVICE"
               class="org.eclipse.wst.env.ui.widgets.popup.DynamicPopupWizard"
               menubarPath="org.eclipse.jst.ws.atk.ui.webservice.category.ejb.popupMenu/popupActions"
               id="org.eclipse.jst.ws.creation.ui.wizard.serverwizard">
         </action>
      </objectContribution>
   </extension>
   
</plugin>