<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="servicepolicyui" name="%SERVICE_POLICY_NAME" schema="schema/servicePolicyui.exsd"/>
   
  <!-- We need this plugin to be loaded at startup time so that the
       ServicePolicyPropertyTester class will always be loaded.  If this is
       not done then the Service Policy project property page will appear
       on all project property pages until the plugin has been loaded. 
       -->
  <extension point="org.eclipse.ui.startup"/>
   
   <extension point="org.eclipse.ui.preferencePages">
      <page name="%PREFERENCE_SERVICEPOLICIES"
      		class="org.eclipse.wst.ws.internal.service.policy.ui.preferences.ServicePoliciesPreferencePage"
            id="org.eclipse.wst.ws.internal.ui.wsi.preferences.WSICompliancePreferencePage">
      </page>
   </extension>
   <extension point="org.eclipse.wst.ws.service.policy.ui.servicepolicyui">
     <servicePolicyUI>
       <operation id="org.eclipse.wst.ws.service.policy.ui.servicepols.wsiprofilecomp"
                      policyPattern="org.eclipse.wst.ws.service.policy.ui.servicepols.wsiprofilecomp.*" >
         <descriptor longName="%COMPLIANCE_LEVEL_LONGNAME"/>
         <enumeration id="org.eclipse.wst.service.policy.suggestionEnum"/>
       </operation>
     </servicePolicyUI>
   </extension>
   
   <extension
         point="org.eclipse.ui.propertyPages">

      <page
            name="%PREFERENCE_SERVICEPOLICIES"
            class="org.eclipse.wst.ws.internal.service.policy.ui.properties.ServicePoliciesPropertyPage"
            id="org.eclipse.wst.ws.internal.ui.wsi.properties.WSICompliancePropertyPage">
           
            <enabledWhen>
               <adapt type="org.eclipse.core.resources.IProject"> 
                 <test property="org.eclipse.wst.ws.service.policy.ui.isEnabled"/>
               </adapt> 
            </enabledWhen>
      </page>
   </extension>
   
  <extension point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
      id="org.eclipse.wst.ws.service.policy.ui.enabled"
      type="org.eclipse.core.resources.IProject"
      namespace="org.eclipse.wst.ws.service.policy.ui"
      properties="isEnabled"
      class="org.eclipse.wst.ws.internal.service.policy.ui.properties.ServicePolicyPropertyTester">
    </propertyTester>
  </extension>

</plugin>