<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="servicepolicyui" name="%SERVICE_POLICY_NAME" schema="schema/servicePolicyui.exsd"/>
   <extension point="org.eclipse.ui.preferencePages">
      <page name="%PREFERENCE_SERVICEPOLICIES"
            class="org.eclipse.wst.ws.internal.service.policy.ui.preferences.ServicePoliciesPreferencePage"
            id="org.eclipse.wst.ws.service.policy.ui.preferences.ServicePoliciesPreferencePage">
      </page>
   </extension>
   <extension point="org.eclipse.wst.ws.service.policy.ui.servicepolicyui">
     <servicePolicyUI>
       <operation id="org.eclipse.wst.ws.service.policy.ui.servicepols.wsiprofilecomp"
                      policyPattern="org.eclipse.wst.ws.service.policy.ui.servicepols.wsiprofilecomp.*" >
         <descriptor longName="%COMPLIANCE_LEVEL_LONGNAME"/>
         <enumeration id="org.eclipse.wst.service.policy.suggestionEnum"/>
       </operation>
     </servicePolicyUI>
   </extension>
</plugin>