<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%_UI_EDITOR_NAME"
            default="true"
            icon="icons/wsdl_file_obj.gif"
            extensions="wsdl"           
            class="org.eclipse.wst.wsdl.ui.internal.WSDLEditor"
            contributorClass="org.eclipse.wst.wsdl.ui.internal.actions.WSDLActionBarContributor"
            id="org.eclipse.wst.wsdl.ui.internal.WSDLEditor">
      </editor>
   </extension>    

   <extension-point id="internalEditorExtensions" name="Internal Editor Extensions"/>  
   <extension-point id="extensibilityItemTreeProviders" name="Extensibility Item Tree Providers"/>
   <extension-point id="propertySourceProvider" name="Property Source Providers"/>
   
   <!-- This extension point is used to suplement WSDL 1.1 schemas in order to   -->
   <!-- constrain the extensiblity elements that are allowed at the 'wsdl' level -->
   <extension-point id="extensibilityElementFilter" name="Extensiblity Element Filter"/>   

  <extension-point id="propertyDescriptorProvider" name="Property Descriptor Provider"/>   
        
  <extension-point id="detailsViewerProviders" name="Details Viewer Providers"/>    
           
   <extension point = "org.eclipse.wst.wsdl.ui.extensibilityItemTreeProviders">
      <extensibilityItemTreeProvider
        id="org.eclipse.wst.wsdl.ui.internal.extensibilityItemTreeProviders.http"
        namespace="http://schemas.xmlsoap.org/wsdl/http/"
        labelProviderClass="org.eclipse.wst.wsdl.ui.internal.outline.HTTPLabelProvider">         
      </extensibilityItemTreeProvider>
   </extension>
         

   <extension point = "org.eclipse.wst.wsdl.ui.extensibilityItemTreeProviders">
      <extensibilityItemTreeProvider
        id="org.eclipse.wst.wsdl.ui.extensibilityItemTreeProviders.soap"
        namespace="http://schemas.xmlsoap.org/wsdl/soap/"
        labelProviderClass="org.eclipse.wst.wsdl.ui.internal.outline.SOAPLabelProvider">         
      </extensibilityItemTreeProvider>
   </extension>
               



   <extension point = "org.eclipse.wst.wsdl.ui.extensibilityElementFilter">
      <extensibilityElementFilter
        namespace="http://schemas.xmlsoap.org/wsdl/soap/"
        class="org.eclipse.wst.wsdl.ui.internal.filter.SoapExtensiblityElementFilter">
      </extensibilityElementFilter>
   </extension>
   
   <extension point = "org.eclipse.wst.wsdl.ui.extensibilityElementFilter">
      <extensibilityElementFilter
        namespace="http://schemas.xmlsoap.org/wsdl/http/"
        class="org.eclipse.wst.wsdl.ui.internal.filter.HttpExtensiblityElementFilter">
      </extensibilityElementFilter>
   </extension>   
   
   <extension point = "org.eclipse.wst.wsdl.ui.extensibilityElementFilter">
      <extensibilityElementFilter
        namespace="http://schemas.xmlsoap.org/wsdl/mime/"
        class="org.eclipse.wst.wsdl.ui.internal.filter.MimeExtensiblityElementFilter">
      </extensibilityElementFilter>
   </extension>    
   
   <extension point = "org.eclipse.wst.wsdl.ui.extensibilityElementFilter">
      <extensibilityElementFilter
        namespace="http://www.w3.org/2001/XMLSchema"
        class="org.eclipse.wst.wsdl.ui.internal.filter.XSDExtensiblityElementFilter">
      </extensibilityElementFilter>
   </extension>      
   
   <extension point="org.eclipse.ui.newWizards">
     <category
     	id="org.eclipse.jst.ws.ui.new"
     	name="%_UI_LABEL_NEW_CATEGORY_NAME_WS"/>
     <wizard
       id="org.eclipse.wst.wsdl.ui"
       name="WSDL"
       class="org.eclipse.wst.wsdl.ui.internal.wizards.NewWSDLWizard"
       category="org.eclipse.jst.ws.ui.new"
       icon="icons/wsdl_file_obj.gif">
       <description>%_UI_LABEL_CREATE_NEW_WSDL_FILE</description>
       <selection class="org.eclipse.core.resources.IResource" /> 
     </wizard>

     <wizard
       id="org.eclipse.wst.wsdl.ui"
       name="WSDL"
       class="org.eclipse.wst.wsdl.ui.internal.wizards.NewWSDLWizard"
       category="org.eclipse.wst.XMLCategory"
       icon="icons/wsdl_file_obj.gif">
       <description>%_UI_LABEL_CREATE_NEW_WSDL_FILE</description>
       <selection class="org.eclipse.core.resources.IResource" /> 
     </wizard>
   </extension>
   

<extension point="org.eclipse.ui.editorActions"> 
   <editorContribution 
      id="org.eclipse.ui.articles.action.contribution.editor2" 
   targetID="org.eclipse.wst.wsdl.ui.internal.WSDLEditor">

      <menu
         id="WSDLEditor"
         label="%_UI_EDITOR_NAME"
         path="additions">
         <separator name="group1"/>
      </menu>
     
      <action
         id="org.eclipse.wst.wsdl.ui.actions.ReloadDependenciesActionDelegate" 
         label="%_UI_RELOAD_DEPENDENCIES"
         icon="icons/reloadgrammar.gif" 
         tooltip="Reload Dependencies"
         menubarPath="WSDLEditor/group1"
         class="org.eclipse.wst.wsdl.ui.internal.actions.ReloadDependenciesActionDelegate"> 
      </action>  
         
      <!--
      <action
         id="org.eclipse.wst.wsdl.ui.internal.actions.ValidateActionDelegate" 
         label="%_UI_ACTION_VALIDATE_WSDL_DOCUMENT" 
         icon="icons/validate.gif" 
         tooltip="%_UI_ACTION_VALIDATE_WSDL_DOCUMENT"
         menubarPath="WSDLEditor/group1"
         toolbarPath="%Normal/WSDLEditor"
         class="org.eclipse.wst.wsdl.ui.internal.actions.ValidateActionDelegate"> 
      </action>      
      -->
                 
    </editorContribution>
</extension>

   <extension
         point="org.eclipse.ui.preferencePages">
	<!-- place everything in "Web and XML" -->
      <page
			name="%_UI_WSDL_LABEL"
			category="org.eclipse.wst.sse.ui.internal.provisional.preferences"
			class="org.eclipse.wst.wsdl.ui.internal.util.WSDLPreferencePage"
			id="org.eclipse.wst.wsdl.ui.internal.util.WSDLPreferencePage"
      />
   </extension>
   <extension
         point="org.eclipse.wst.sse.ui.extendedconfiguration">
      <!-- add preference pages to the context menu action (ID must correspond to the declared "path" above) -->
      <definition
      		type="preferencepages"
            value="org.eclipse.wst.wsdl.ui.internal.util.WSDLPreferencePage"
            target="org.eclipse.wst.wsdl.ui.internal.WSDLEditor.source" />
<!--
      <propertysheetconfiguration
            class="org.eclipse.wst.wsdl.ui.internal.properties.WSDLPropertySheetConfiguration"
            target="org.eclipse.wst.wsdl.ui.internal.WSDLTextEditor">
      </propertysheetconfiguration>
-->
   </extension>

   <extension
         point="org.eclipse.wst.common.ui.properties.propertyContributor">
      <propertyContributor
            typeMapper="org.eclipse.wst.wsdl.ui.internal.properties.section.WSDLTypeMapper"
            contributorId="org.eclipse.wst.wsdl.ui.internal.WSDLTextEditor"
            sectionDescriptorProvider="org.eclipse.wst.wsdl.ui.internal.properties.section.WSDLSectionDescriptorProvider"
            labelProvider="org.eclipse.wst.wsdl.ui.internal.properties.section.WSDLLabelProvider">
         <propertyCategory
               category="general">
         </propertyCategory>
         <propertyCategory
               category="namespace">
         </propertyCategory>
         <propertyCategory
               category="other">
         </propertyCategory>
         <propertyCategory
               category="attributes">
         </propertyCategory>
         <propertyCategory
               category="enumerations">
         </propertyCategory>
         <propertyCategory
               category="documentation">
         </propertyCategory>
         <propertyCategory
               category="facets">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.wst.common.ui.properties.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.wst.wsdl.ui.internal.WSDLTextEditor">
         <propertyTab
               label="%_UI_LABEL_GENERAL"
               category="general"
               id="com.ibm.xmlwebservices.general">
         </propertyTab>
         <propertyTab
               label="%_UI_LABEL_NAMESPACE"
               category="namespace"
               afterTab="com.ibm.xmlwebservices.general"
               id="com.ibm.xmlwebservices.namespace">
         </propertyTab>
         <propertyTab
               label="%_UI_LABEL_OTHER"
               category="other"
               id="com.ibm.xmlwebservices.other">
         </propertyTab>
         <propertyTab
               label="%_UI_LABEL_ATTRIBUTES"
               category="attributes"
               id="com.ibm.xmlwebservices.attributes">
         </propertyTab>
         <propertyTab
               label="%_UI_LABEL_ENUMERATIONS"
               category="enumerations"
               id="com.ibm.xmlwebservices.enumerations">
         </propertyTab>
         <propertyTab
               label="%_UI_LABEL_DOCUMENTATION"
               category="documentation"
               id="com.ibm.xmlwebservices.documentation">
         </propertyTab>
         <propertyTab
               label="%_UI_SECTION_ADVANCED_ATTRIBUTES"
               category="facets"
               id="com.ibm.xmlwebservices.facets">
         </propertyTab>
      </propertyTabs>
   </extension>

  <extension point="org.eclipse.wst.wsdl.ui.internalEditorExtensions">
     <internalEditorExtension class="org.eclipse.wst.wsdl.ui.internal.xsd.XSDExtension"/>
  </extension>  

   <extension point = "org.eclipse.wst.wsdl.ui.extensibilityItemTreeProviders">
      <extensibilityItemTreeProvider
        id="org.eclipse.wst.wsdl.ui.extensibilityItemTreeProviders.xsd"
        namespace="http://www.w3.org/2001/XMLSchema"            
        labelProviderClass="org.eclipse.wst.wsdl.ui.internal.xsd.XSDLabelProvider">
      </extensibilityItemTreeProvider>
   </extension>
    
    <!-- intialize wsdl source validator -->
	<extension point="org.eclipse.wst.sse.ui.sourcevalidation"> 
      <validator
            scope="total"
            class="org.eclipse.wst.wsdl.ui.internal.reconciler.DelegatingSourceValidatorForWSDL"
            id="org.eclipse.wst.wsdl.ui.internal.reconciler.DelegatingSourceValidatorForWSDL">
  	     <contentTypeIdentifier id="org.eclipse.wst.wsdl.wsdlsource">
            <partitionType
                  id="org.eclipse.wst.xml.XML_DEFAULT">
            </partitionType>
         </contentTypeIdentifier>       
      </validator>
   </extension>
   
    <!-- this extension point is used to augment the ModelQuery to provide WSDL specific guided editing -->
    <extension point="org.eclipse.wst.xml.core.modelQueryExtensions">
		<modelQueryExtension
			class="org.eclipse.wst.wsdl.ui.internal.text.WSDLModelQueryExtension"
			contentType="org.eclipse.wst.wsdl.wsdlsource">
		</modelQueryExtension>
	</extension>   
</plugin>
                               