<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin
   id="org.eclipse.wst.command.env"
   name="%PLUGIN_NAME"
   version="1.0.0"
   provider-name="%PLUGIN_PROVIDER"
   class="org.eclipse.wst.command.internal.env.plugin.EnvPlugin">

   <runtime>
      <library name="env.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.wst.command.env.core"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.osgi"/>
   </requires>

   <extension-point
      id="dynamicWizard"
      name="%PLUGIN_XP_DYNAMIC_WIZARD"/>
   
   <extension-point
      id="actionDialogPreferenceType"
      name="%PLUGIN_XP_POPUP_DIALOGS"/>

</plugin>
