<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

     <extension-point
      id="dynamicWizard"
      name="%PLUGIN_XP_DYNAMIC_WIZARD"/>
   
   <extension-point
      id="actionDialogPreferenceType"
      name="%PLUGIN_XP_POPUP_DIALOGS"/>

   <extension-point id="antDataMapping" name="antDataMapping" schema="schema/antdatamapping.exsd"/>
   <extension-point id="antScenario" name="antScenario" schema="schema/antScenario.exsd"/>
   
   <!-- Note that if you set the plug-in compiler to give error on 
   "References to Unknown Resources", you will get 2 errors for 
   missing resources for ant-lib/anttasks.jar.  
   To workaround the problem, change the plug-in compiler setting for 
   "References to Unknown Resources" to warning, then generate build.xml
   from the plugin.xml and run the resulting build.xml to generate the 
   ant-lib/anttasks.jar.  We did not check in ant-lib/anttasks.jar since we 
   want it to be rebuild from ant-src.
   -->  
     <extension
         id="wsgen"
         name="wsgen"
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="ws.ant.task.WebServiceGenerationAntTask"
            eclipseRuntime="true"
            headless="true"
            library="ant-lib/anttasks.jar"
            name="wsgen"/>
   </extension> 
     <extension
           point="org.eclipse.ant.core.extraClasspathEntries">
        <extraClasspathEntry library="ant-lib/anttasks.jar"/>
     </extension>     

</plugin>
