<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

     <extension-point
      id="dynamicWizard"
      name="%PLUGIN_XP_DYNAMIC_WIZARD"/>
   
   <extension-point
      id="actionDialogPreferenceType"
      name="%PLUGIN_XP_POPUP_DIALOGS"/>

   <extension-point id="antDataMapping" name="antDataMapping" schema="schema/antdatamapping.exsd"/>
   <extension-point id="antScenario" name="antScenario" schema="schema/antScenario.exsd"/>
     
     <extension
         id="wsgen"
         name="wsgen"
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="ws.ant.task.WebServiceGenerationAntTask"
            eclipseRuntime="true"
            headless="true"
            library="ant-lib/anttasks.jar"
            name="wsgen"/>
   </extension> 
     <extension
           point="org.eclipse.ant.core.extraClasspathEntries">
        <extraClasspathEntry library="ant-lib/anttasks.jar"/>
     </extension>     

</plugin>
