<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   
<!--
  <description>
  %PLUGIN_DESC
  </description>
  -->
    <extension-point id="privateUDDIRegistryType" name="%XP_PRIVATE_UDDI_REGISTRY_TYPES"/>

   <extension
         point="org.eclipse.jst.ws.consumption.ui.privateUDDIRegistryType">
      <privateUDDIRegistryType
            name="%PRIVATE_UDDI_REGISTRY_TYPE_IMPL"
            class="org.eclipse.jst.ws.internal.uddiregistry.wizard.PrivateUDDIRegistryTypeImpl"
            id="org.eclipse.jst.ws.internal.uddiregistry.wizard.PrivateUDDIRegistryTypeImpl">
      </privateUDDIRegistryType>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            name="%PLUGIN_NEW_WIZARD_NAME_WS_UNIT_TEST_UDDI"
            icon="icons/registry.gif"
            category="org.eclipse.jst.ws.ui.new"
            class="org.eclipse.wst.command.internal.env.ui.widgets.DynamicWizard"
            id="org.eclipse.jst.ws.internal.uddiregistry.widgets.binding.PrivateUDDIWidgetBinding">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.wst.command.env.dynamicWizard">
      <dynamicWizard
            name="%PLUGIN_NEW_WIZARD_NAME_WS_UNIT_TEST_UDDI"
            class="org.eclipse.jst.ws.internal.uddiregistry.widgets.binding.PrivateUDDIWidgetBinding"
            iconbanner="icons/uddiprivateconfig_wiz.gif"
            id="org.eclipse.jst.ws.internal.uddiregistry.widgets.binding.PrivateUDDIWidgetBinding">
      </dynamicWizard>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            name="%PLUGIN_NEW_WIZARD_NAME_WS_UNIT_TEST_UDDI"
            icon="icons/registry.gif"
            category="org.eclipse.jst.ws.ui.new"
            class="org.eclipse.jst.ws.internal.uddiregistry.wizard.PrivateUDDIWizard"
            id="org.eclipse.jst.ws.internal.uddiregistry.wizard.PrivateUDDIWizard">
         <description>
            %PLUGIN_NEW_WIZARD_DESC_WS_UNIT_TEST_UDDI
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   -->
</plugin>
