<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin
   id="org.eclipse.jst.ws.uddiregistry"
   version="1.0.0"
   name="%PLUGIN_NAME"
   provider-name="%PLUGIN_PROVIDER"
   class="org.eclipse.jst.ws.internal.uddiregistry.plugin.WebServiceUDDIRegistryPlugin">

   <runtime>
      <library name="uddiregistry.jar">
         <export name="*"/>
      </library>
   </runtime>
<!--
  <description>
  %PLUGIN_DESC
  </description>
  -->
   <requires>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.emf.common"/>
      <import plugin="org.eclipse.jst.ws"/>
      <import plugin="org.eclipse.jst.ws.ui"/>
      <import plugin="org.eclipse.jst.ws.consumption"/>
      <import plugin="org.eclipse.wst.command.env.core"/>
      <import plugin="org.eclipse.wst.command.env"/>
      <import plugin="org.eclipse.wst.command.env.ui"/>
      <import plugin="org.eclipse.wst.server.core"/>
   </requires>


   <extension-point id="privateUDDIRegistryType" name="%XP_PRIVATE_UDDI_REGISTRY_TYPES"/>

   <extension
         point="org.eclipse.jst.ws.consumption.ui.privateUDDIRegistryType">
      <privateUDDIRegistryType
            name="%PRIVATE_UDDI_REGISTRY_TYPE_IMPL"
            class="org.eclipse.jst.ws.internal.uddiregistry.wizard.PrivateUDDIRegistryTypeImpl"
            id="org.eclipse.jst.ws.internal.uddiregistry.wizard.PrivateUDDIRegistryTypeImpl">
      </privateUDDIRegistryType>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            name="%PLUGIN_NEW_WIZARD_NAME_WS_UNIT_TEST_UDDI"
            icon="icons/registry.gif"
            category="org.eclipse.jst.ws.ui.new"
            class="org.eclipse.wst.command.env.ui.widgets.DynamicWizard"
            id="org.eclipse.jst.ws.internal.uddiregistry.widgets.binding.PrivateUDDIWidgetBinding">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.wst.command.env.dynamicWizard">
      <dynamicWizard
            name="%PLUGIN_NEW_WIZARD_NAME_WS_UNIT_TEST_UDDI"
            class="org.eclipse.jst.ws.internal.uddiregistry.widgets.binding.PrivateUDDIWidgetBinding"
            iconbanner="icons/uddiprivateconfig_wiz.gif"
            id="org.eclipse.jst.ws.internal.uddiregistry.widgets.binding.PrivateUDDIWidgetBinding">
      </dynamicWizard>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            name="%PLUGIN_NEW_WIZARD_NAME_WS_UNIT_TEST_UDDI"
            icon="icons/registry.gif"
            category="org.eclipse.jst.ws.ui.new"
            class="org.eclipse.jst.ws.internal.uddiregistry.wizard.PrivateUDDIWizard"
            id="org.eclipse.jst.ws.internal.uddiregistry.wizard.PrivateUDDIWizard">
         <description>
            %PLUGIN_NEW_WIZARD_DESC_WS_UNIT_TEST_UDDI
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   -->
</plugin>
