<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension-point
		id="extensibilityElementFactories"
		name="%xpExtensibilityElementFactories" 
		schema="schema/extensibilityElementFactories.exsd"/>
	<extension-point
		id="contentGenerators"
		name="%xpPortAndBindingContentGenerators" 
		schema="schema/contentGenerators.exsd"/>

	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri="http://www.ibm.com/wsdl/2003/WSDL"
			class="org.eclipse.wst.wsdl.WSDLPackage">
		</package>
	</extension>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser
			type="wsdl"
			class="org.eclipse.wst.wsdl.internal.util.WSDLResourceFactoryImpl">
		</parser>
	</extension>

	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri="http://www.eclipse.org/wsdl/2003/HTTP"
			class="org.eclipse.wst.wsdl.binding.http.HTTPPackage">
		</package>
	</extension>

	<extension
		point="org.eclipse.wst.wsdl.extensibilityElementFactories">
		<extensibilityElementFactory
			namespace="http://schemas.xmlsoap.org/wsdl/http/"
			class="org.eclipse.wst.wsdl.binding.http.internal.util.HTTPExtensibilityElementFactory" />
	</extension>

	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri="http://www.eclipse.org/wsdl/2003/MIME"
			class="org.eclipse.wst.wsdl.binding.mime.MIMEPackage">
		</package>
	</extension>

	<extension
		point="org.eclipse.wst.wsdl.extensibilityElementFactories">
		<extensibilityElementFactory
			namespace="http://schemas.xmlsoap.org/wsdl/mime/"
			class="org.eclipse.wst.wsdl.binding.mime.internal.util.MIMEExtensibilityElementFactory" />
	</extension>

	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri="http://www.eclipse.org/wsdl/2003/SOAP"
			class="org.eclipse.wst.wsdl.binding.soap.SOAPPackage">
		</package>
	</extension>

	<extension
		point="org.eclipse.wst.wsdl.extensibilityElementFactories">
		<extensibilityElementFactory
			namespace="http://schemas.xmlsoap.org/wsdl/soap/"
			class="org.eclipse.wst.wsdl.binding.soap.internal.util.SOAPExtensibilityElementFactory" />
	</extension>

	<extension point="org.eclipse.wst.wsdl.contentGenerators">
		<contentGenerator
			name="SOAP"
			namespace="http://schemas.xmlsoap.org/wsdl/soap/"
			class="org.eclipse.wst.wsdl.binding.soap.internal.generator.SOAPContentGenerator">
		</contentGenerator>
	</extension>

	<extension point="org.eclipse.wst.wsdl.contentGenerators">
		<contentGenerator
			name="HTTP"
			namespace="http://schemas.xmlsoap.org/wsdl/http/"
			class="org.eclipse.wst.wsdl.binding.http.internal.generator.HTTPContentGenerator">
		</contentGenerator>
	</extension>



	<!-- define a wsdl content type -->
	<extension point="org.eclipse.core.runtime.contentTypes">
		<content-type
			priority="high"
			name="%xpWSDLContentType"
			id="wsdlsource"
			base-type="org.eclipse.core.runtime.xml"
			default-charset="UTF-8"
			file-extensions="wsdl" />
	</extension>
</plugin>
