<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.wst.wsdl.validation.tests"
   name="WSDL Validator Tests Plug-in"
   version="1.0.0"
   provider-name="Eclipse"
   class="org.eclipse.wst.wsdl.validation.tests.internal.WSDLValidatorTestsPlugin">

   <runtime>
      <library name="wsdlvalidatetests.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.wst.wsdl.validation"/>
   </requires>

</plugin>
